@charset "UTF-8";
/* ************************************************************************************************
   font
　************************************************************************************************ */
@font-face {
  font-family: "Avenir-b";

  src: url("../font/Avenir-Black.eot");
  src: url("../font/Avenir-Black.eot?iefix") format("eot"), url("../font/Avenir-Black.woff") format("woff"), url("../font/Avenir-Black.ttf") format("truetype");
}

@font-face {
  font-family: "icomoon";
  font-style: normal; 
  font-weight: normal;

  src: url("../font//icomoon.eot?62iosn");
  src: url("../font//icomoon.eot?62iosn#iefix") format("embedded-opentype"), url("../font//icomoon.ttf?62iosn") format("truetype"), url("../font//icomoon.woff?62iosn") format("woff"), url("../font//icomoon.svg?62iosn#icomoon") format("svg");
}

/* ************************************************************************************************
   Base
   ************************************************************************************************ */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  width: 100%;
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden; 
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
  color: #333333;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
  background: #fefefe;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  padding: 0;
  margin: 0;
  font-weight: 500; 
  border: 0;
}

article, aside, main, section, header, footer, menu, nav, details, figure, figcaption, img {
  display: block;
}

ol, ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:focus {
  outline: none;
}

button {
  padding: 0; 
  text-decoration: none;
  border: none;
}

iframe {
  vertical-align: bottom;
}

img, svg {
  vertical-align: middle;
}

a {
  font-family: "Montserrat", sans-serif; 

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

button, input, label, select, textarea {
  font-family: "Roboto Condensed", sans-serif; 

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* ----- *::selection ----- */
*::-moz-selection {
  color: #fefefe; 
  background: #111111;
}

*::selection {
  color: #fefefe; 
  background: #111111;
}

/* ----- h1,h2,h3,h4,h5 -----
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  text-align: center;
  line-height: $base_line_height;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
*/
/* ----- .cf ----- */
.cf:before, .cf:after {
  display: block;
  overflow: hidden; 
  content: "";
}

.cf:after {
  clear: both;
}

/* ----- .transition03 ----- */
.transition03 {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.transition05 {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* ----- img----- */
img {
  width: 100%;
  height: auto;
}

/* ----- a ----- */
a {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus, *:focus {
  text-decoration: none; 
  outline: none;
}

a:hover {
  text-decoration: none;
  outline: none;
}

/* ----- p ----- */
p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0.5px;
}

p a:hover {
  color: #fefefe;
}

@media only screen and (max-width: 900px) {
  p {
    font-size: 13px;
    line-height: 1.58;
    letter-spacing: 0.2px;
  }
  p a:hover {
    background: none;
  }
}

/* ----- table ----- */
table {
  font-size: 14px;
  line-height: 1.8;
}

/* ----- form ----- */
select::-ms-expand {
  display: none;
}

* {
  -webkit-appearance: none;
  border-radius: 0;
}

/* ----- 不要であれば後で消す ----- */
body.pc .sp_view {
  display: none !important;
}

body.sp .pc_view {
  display: none !important;
}

.inner {
  max-width: 1180px;
  /* min-width: 980px; */
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .inner {
    max-width: 100%;
    padding: 0 5%;
  }
}

@media (min-width: 901px) {
  body .sp_view {
    display: none !important;
  }
}

/* ----- 不要であれば後で消す ここまで ----- */
/* ************************************************************************************************
   #header
   ************************************************************************************************ */
#header {
  /* -----header-menu ----- */
  /* -----header-nav ----- */
}
#header .header-main {
  height: 100px; 
  padding: 18px 0;
}
#header .header-logo {
  display: block;
  float: left; 
  width: 195px;
  height: 64px;
}
#header .header-menu {
  float: right;
}
#header .header-menu li {
  display: inline-block;
  margin: 0;
  margin: 0 26px 0 0;
}
#header .header-menu li:last-child {
  position: relative;
  top: 10px; 
  margin-right: 0;
}
#header .header-menu li:last-child a {
  position: relative;
  padding: 0 23px 0 0;
}
#header .header-menu li:last-child a span {
  margin-right: -13px;
}
#header .header-menu li:last-child a:after {
  position: absolute;
  right: 0;
  bottom: 1px;
  font-family: "icomoon";
  font-size: 12px;
  font-weight: 600; 
  color: #004ea1;
  content: "\e905";
}
#header .header-menu li:last-child span {
  display: block;
  font-weight: 600; 
  line-height: 25px;
  text-align: center;
}
#header .header-menu li [class*="icon-"] {
  font-size: 17px;
}
#header .header-menu li a {
  display: table;
  font-size: 14px;
  letter-spacing: 0.5px;
}
#header .header-menu span {
  display: inline-block;
  padding-right: 4px; 
  line-height: 21px;
  vertical-align: bottom;
}
#header .header-nav {
  background: #004ea1;
}
#header .header-nav:after {
  display: block;
  clear: both; 
  content: "";
}
#header .header-nav nav {
  float: left;
}
#header .header-nav nav ul {
  max-width: 1180px;
  padding: 9px 0 9px 5px; 
  margin: 0 auto;
}
#header .header-nav nav ul > li {
  display: inline-block;
  margin-right: 20px;
}
#header .header-nav nav ul > li a {
  position: relative; 
  display: block;
  padding: 8px 10px;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 0.01em;
}
#header .header-nav nav ul > li a:after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  z-index: 10;
  margin-left: -8px;
  font-family: "icomoon";
  font-size: 10px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.85);
  content: "\e900";
  opacity: 0;
  transition: all .4s;
}
#header .header-nav nav ul > li a:hover:after {
  opacity: 1;
}

/* -----select-list-block ----- */
.select-list-block {
  padding: 20px 15px 45px;
  margin: 25px 0 0; 
  background: #00385b;
}
.select-list-block .ttl {
  margin: 0 0 0 5px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 1px;
}
.select-list-block .select-list {
  width: 100%; 
  padding: 10px 0px 20px 0;
  font-size: 0;
}
.select-list-block .select-list li {
  position: relative;
  display: inline-block;
  width: 49%;
  margin: 6px auto;
  overflow: hidden;
  text-align: center;
  background: #0060b7;
  border-radius: 30px;
}
.select-list-block .select-list li:nth-child(even) {
  margin-left: 2%;
}
.select-list-block .select-list li:before {
  position: absolute;
  top: 50%;
  right: 17px;
  width: 0;
  height: 0;
  padding: 0;
  margin-top: -2px;
  pointer-events: none; 
  content: "";
  border-top: 6px solid #ffffff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.select-list-block .select-list li span {
  position: absolute;
  display: inline-block;
  padding-right: 8px;
  padding-left: 18px; 
  color: #ffffff;
}
.select-list-block .select-list li form {
  display: inline-block;
  width: 100%;
}
.select-list-block .select-list li select {
  width: 100%;
  -webkit-appearance: none;
  padding: 13px 35px 13px 46px;
  padding-right: 1em;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  text-align: center; 
  text-indent: 0.01px;
  text-overflow: ellipsis;
  letter-spacing: 0.8px;
  cursor: pointer;
  background: transparent;
  background-image: none;
  border: none;
  outline: none;
  box-shadow: none;

  appearance: none;
}
.select-list-block .select-list li.maker span {
  top: 13px; 
  font-size: 16px;
}
.select-list-block .select-list li.model span {
  top: 14px; 
  font-size: 14px;
}
.select-list-block .select-list li.part span {
  top: 11px; 
  font-size: 20px;
}
.select-list-block .select-list li.year span {
  top: 12px; 
  font-size: 18px;
}
.select-list-block .search-btn {
  position: relative; 
  width: 68%;
  height: 52px;
  margin: 0 auto;
  text-align: center;
}
.select-list-block .search-btn button {
  display: table-cell;
  width: 100%;
  height: 100%;
  letter-spacing: 1px; 
  background: #eaad03;
}
.select-list-block .search-btn span {
  position: relative;
  top: 0; 
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
}
.select-list-block .search-btn span.ico-glass {
  position: absolute;
  top: 50%;
  right: 8%;
  margin-top: -9px; 
  font-size: 19px;
}

@media (max-width: 1200px) {
  #header .header-nav nav ul > li {
    margin-right: 5px;
  }
  #header .header-nav nav ul > li a {
    font-size: 13px;
  }
}

@media (max-width: 1000px) {
  #header .header-main {
    height: 85px;
    padding: 0;
  }
  #header .header-nav nav ul > li {
    margin-right: 0px;
  }
  #header .header-nav nav ul > li a {
    padding-right: 8px; 
    padding-left: 8px;
  }
}

@media (min-width: 901px) {
  #hamburger, .sp-login {
    display: none;
  }
}

@media (max-width: 900px) {
  #header {
    position: relative;
    z-index: 20;
  }
  #header .header-logo {
    position: absolute;
    top: 14px;
    right: 0;
    bottom: 0; 
    left: 0;
    float: none;
    width: 160px;
    height: 52px;
    margin: 0 auto;
  }
  #header .header-menu {
    display: none;
  }
  #header .header-nav {
    position: fixed;
    top: 0px;
    left: -100%;
    z-index: 10;
    z-index: 5; 
    display: none;
    display: block;
    width: 100%;
    height: 100vh;
    padding: 0px 0 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #00385b;
    -webkit-box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.15);
    transition-delay: 0s;
  }
  #header .header-nav nav {
    float: none;
  }
  #header .header-nav nav ul {
    padding: 0;
  }
  #header .header-nav nav ul > li {
    display: block;
  }
  #header .header-nav nav ul > li:last-child a:before {
    display: none;
  }
  #header .header-nav nav ul > li.lang a {
    position: relative; 
    padding-left: 1.6em;
  }
  #header .header-nav nav ul > li.lang span.icon-lang {
    position: relative;
    top: 3px; 
    margin: 0 14px 0 0;
    font-size: 19px;
  }
  #header .header-nav nav ul > li.lang span.icon-arrow-bottom02 {
    position: relative;
    top: 1px; 
    margin: 0 0 0 10px;
    font-size: 14px;
    font-weight: 600;
  }
  #header .header-nav nav ul > li a {
    position: relative;
    display: block;
    padding: 1em 1em 1em 3.1em;
    font-size: 15px;
  }
  #header .header-nav nav ul > li a:hover {
    background: #0060b7;
  }
  #header .header-nav nav ul > li a:before {
    position: absolute;
    top: 50%;
    left: 1.8em;
    width: 5px;
    height: 5px;
    content: "";
    background: #eaad03;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  #header .header-nav nav ul > li a:after {
    display: none;
  }
  #header .header-nav .inner {
    padding: 70px 0 0;
    background: #003c68;
  }
  #header .sp-login {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    width: 70px;
    height: 70px;
    color: #ffffff;
    text-align: center;
    background: #eaad03;

    justify-content: center;
    align-items: center;
  }
  #header .sp-login a {
    margin-right: -2px; 
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  #header .sp-login span {
    display: block;
    padding: 4px 0 1px 0; 
    font-size: 21px;
  }
  .header-search {
    display: none;
  }
}

@media (max-width: 738px) {
  #header .header-logo {
    width: 144px;
    height: 47px;
  }
}

/*===== hamburger =====*/
#hamburger {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 70px;
  height: 70px;
  background: #003c68;
}

#hamburger-menu {
  position: relative;
  top: 27px;
  left: 22px; 
  display: block;
  width: 25px;
  height: 34px;
  margin: 0;
  text-align: center;
  cursor: pointer;
  -webkit-transform: translateZ(0);
}
#hamburger-menu span[class*="icon-bar"] {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  color: #ffffff;
  background-color: #ffffff;
  border-radius: 10px;
  border-radius: 20%;
  opacity: 1;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.open-menu #hamburger {
  background: none;
}

#hamburger-menu span:nth-of-type(1) {
  top: 0;
}

#hamburger-menu span:nth-of-type(2) {
  top: 8px;
}

#hamburger-menu span:nth-of-type(3) {
  top: 16px;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

#hamburger-menu span.menu_txt {
  position: absolute;
  bottom: 0px;
  left: 1px;
}

.open-menu #hamburger span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.open-menu #hamburger span:nth-child(2) {
  right: -120px;
  opacity: 0;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.open-menu #hamburger span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* ------------------------
   .head_icn
   ------------------------ */
.head_icn-signup {
  width: 23px;
  height: 24px;
}

.head_icn-login {
  width: 21px;
  height: 22px;
}

.head_icn-cart {
  width: 20px;
  height: 18px;
}

.head_icn-language {
  width: 20px;
  height: 18px;
}

/* ------------------------
   .header-search
   ------------------------ */
.header-search {
  float: right;
  margin: 9px 0 0;
}
.header-search .search-button {
  position: relative;
  display: table-cell;
  display: -ms-flexbox;
  display: flex;
  height: 34px;
  height: 36px;
  padding-right: 14px;
  padding-left: 20px;
  overflow: hidden; 
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
  background-color: #00385b;
  background-color: none;
  border: 0;
  border-radius: 4px;

  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}
.header-search .ico-glass {
  margin: 0 0 0 12px; 
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}

/* ----- placeholder ----- */
:placeholder-shown {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.5px;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.5px;
}

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.5px;
  opacity: 1;
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.5px;
  opacity: 1;
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.5px;
}

@media (max-width: 1000px) {
  .header-search .search-button {
    padding-right: 10px;
    padding-left: 15px;
    font-size: 11px;
  }
  .header-search .ico-glass {
    font-size: 13px;
  }
}

/* ----- sf-menu ----- */
/* .brandArea */
/* brandArea ul */
/* ------------------------
   .navSubArea
   ------------------------ */
/* ************************************************************************************************
   #headerSp
   ************************************************************************************************ */
/* ------------------------
   .logoArea
   ------------------------ */
/* -----------------------------------------------------------
   jQuery.mmenu CSS
   ----------------------------------------------------------- */
/* ************************************************************************************************
   #footer
   ************************************************************************************************ */
#footer {
  background: url(../img/bg_polygon03.png) repeat-x center bottom;
}
#footer .footer-wrap {
  padding: 75px 0 85px;
}
#footer .inner:after {
  display: block;
  clear: both; 
  content: "";
}
#footer .footer-nav {
  float: left;
  width: 80%;
}
#footer .footer-nav section {
  float: left;
  width: 25%;
}
#footer .footer-nav section:first-child {
  width: 18%;
}
#footer .footer-nav section + section {
  padding: 0 0 0 7%;
}
#footer .footer-nav section h4 {
  margin: 0 0 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.7; 
  color: #004ea1;
  letter-spacing: 0.4px;
}
#footer .footer-nav section li + li {
  margin: 13px 0 0;
}
#footer .footer-nav section li a {
  font-size: 14px;
}
#footer .copyright {
  padding: 15px 0;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  letter-spacing: 0.5px; 
  background: #004ea1;
}

/* --- .footer-sns --- */
#footer .footer-sns {
  float: right;
  width: 20%;
}
#footer .footer-sns li {
  float: right; 
  margin: 0 0 20px 0;
}
#footer .footer-sns li a {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 164px;
  height: 50px;
  padding: 0 0 0 14px;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: 0px 0px 13px 5px #dfdfdf; 

  -ms-flex-align: center;
  align-items: center;
}
#footer .footer-sns li a:after {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 21px;
  height: 100%;
  content: "";
  background: #ffffff;
  border-radius: 0px 10px 10px 0px / 0px 10px 10px 0px;
}
#footer .footer-sns li a:before {
  position: absolute;
  right: 6px;
  z-index: 10; 
  display: block;
  width: 0;
  height: 0;
  box-sizing: border-box;
  content: "";
  border-color: transparent transparent transparent #007bff;
  border-style: solid;
  border-width: 6px 0 6px 4px;
}
#footer .footer-sns li a > span:first-child {
  padding-right: 8px;
  font-size: 26px;
  color: #ffffff;
}
#footer .footer-sns li a > span:last-child {
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0.6px;
}
#footer .footer-sns li.facebook a {
  padding-left: 21px; 
  background: #263c7f;
}
#footer .footer-sns li.facebook a span:first-child {
  padding-right: 15px;
}
#footer .footer-sns li.facebook a:before {
  border-left: 7px solid #263c7f;
}
#footer .footer-sns li.line a {
  background: #3acb01;
}
#footer .footer-sns li.line a span:first-child {
  padding-right: 18px;
}
#footer .footer-sns li.line a:before {
  border-left: 7px solid #3acb01;
}
#footer .footer-sns li.wechat a {
  background: #2dc000;
}
#footer .footer-sns li.wechat a span:first-child {
  padding-right: 12px;
}
#footer .footer-sns li.wechat a:before {
  border-left: 7px solid #2dc000;
}
#footer .footer-sns li.whatsapp a {
  background: #00ac00;
}
#footer .footer-sns li.whatsapp a:before {
  border-left: 7px solid #00ac00;
}

/* ************************************************************************************************
   #footerSP
   ************************************************************************************************ */
@media (max-width: 1000px) {
  #footer .footer-nav {
    width: 75%;
  }
  #footer .footer-nav section:first-child {
    width: 13%;
  }
  #footer .footer-nav section + section {
    padding: 0 0 0 12%;
  }
  #footer .footer-nav section h4 {
    font-size: 15px;
  }
  #footer .footer-nav section li a {
    font-size: 13px;
  }
  #footer .footer-sns {
    width: 25%;
  }
}

@media (max-width: 850px) {
  #footer .footer-wrap {
    padding: 65px 0 35px;
  }
  #footer .footer-nav {
    width: 100%;
  }
  #footer .footer-sns {
    display: flex;
    width: 100%;
    margin: 60px 0 0;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }
  #footer .footer-sns li {
    float: left;
    margin: 0 14px 20px 0;
  }
  #footer .footer-sns li a {
    position: relative;
    width: 48px;
    height: 48px;
    padding: 0 !important;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px #dfdfdf;
  }
  #footer .footer-sns li a:before, #footer .footer-sns li a:after {
    display: none;
  }
  #footer .footer-sns li a > span {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    padding: 0 !important;
  }
  #footer .footer-sns li a > span:first-child:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 20px;
    line-height: 48px;
  }
  #footer .footer-sns li a > span:last-child {
    display: none;
  }
}

@media (max-width: 630px) {
  #footer .footer-wrap {
    padding: 50px 0 30px;
  }
  #footer .footer-nav {
    font-size: 0;
  }
  #footer .footer-nav section {
    display: inline-block;
    float: none;
    width: 50% !important;
    margin: 0 0 45px 0; 
    vertical-align: top;
  }
  #footer .footer-nav section + section {
    padding: 0;
  }
  #footer .footer-sns {
    margin: 30px 0 0;
  }
}

/* -----------------------------------------------------------
   .linkArea ←ボタンっぽい
   ----------------------------------------------------------- */
.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.btn-seemore {
  display: inline-block;
  padding: 8px 50px;
  font-size: 15px;
  line-height: 1;
  line-height: 1.88; 
  color: #ffffff;
  letter-spacing: 1px;
  background: #eaad03;
  border: 1px;
}

.btn-seeall {
  display: inline-block;
  padding: 6px 50px;
  font-size: 16px;
  line-height: 1;
  line-height: 1.88; 
  color: #ffffff;
  letter-spacing: 1px;
  background: #004ea1;
  border: 1px;
  border-radius: 30px;
}

/* -----------------------------------------------------------
   #headline
   ----------------------------------------------------------- */
/* -----------------------------------------------------------
  .central
   ----------------------------------------------------------- */
/* -----------------------------------------------------------
   #breadcrumb
   ----------------------------------------------------------- */
/* -----------------------------------------------------------
   #content&.outline
   ----------------------------------------------------------- */
#content {
  background: url(../img/bg_polygon01.png) repeat-x center top;
}

.outline {
  padding: 0 0 100px; 
  background: #f3f3f3;
}

@media only screen and (max-width: 900px) {
  .outline {
    padding: 0 0 50px;
  }
}

/* ------------------------
   h1＆h2＆h3 .title
   ------------------------ */
.headline {
  margin: 0 0 40px;
}
.headline .title {
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  color: #004ea1; 
  text-align: center;
  letter-spacing: 2px;
}
.headline h1, .headline h2 {
  margin: 22px auto 0;
  color: #5d5d5d;
  letter-spacing: 0.01em;
  letter-spacing: 0.4px;
}
.headline h1 {
  margin: 10px auto 0; 
  font-size: 16px;
  text-align: center;
}
.headline h2 {
  font-size: 16px;
}

.brand-list .headline {
  margin: 0 0 55px;
}

.products-lineup .headline .title {
  text-align: left;
}

.select-films .headline {
  margin: 0 0 60px;
}
.select-films .headline h2 {
  text-align: center;
}

.news-content .headline h2 {
  text-align: center;
}

@media (max-width: 900px) {
  .headline {
    margin: 0 0 50px;
  }
  .headline h1, .headline h2 {
    margin: 13px 0 0;
    font-size: 15px;
    line-height: 1.66;
  }
  .headline .title {
    font-size: 31px;
  }
  .brand-list {
    padding: 90px 0 50px;
  }
  .brand-list .headline {
    margin: 0 0 35px;
  }
  .select-films .headline {
    margin: 0 0 50px;
  }
}

@media (max-width: 738px) {
  .headline {
    margin: 0 0 35px;
  }
  .headline .title {
    font-size: 28px;
    letter-spacing: 0.9px;
  }
  .select-films .headline {
    margin: 0 0 35px;
  }
  .brand-list {
    padding: 75px 0 40px;
  }
}

/* ----------------------------------------------------------   
   #scrollUp
   ---------------------------------------------------------- */
/* ----------------------------------------------------------   
   .slick-slider
   ---------------------------------------------------------- */
.slick-list, .slick-slider, .slick-track {
  position: relative;
  display: block;
}

.slick-loading .slick-slide, .slick-loading .slick-track {
  visibility: hidden;
}

.slick-slider {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  padding: 0; 
  /* overflow: hidden; */
  margin: 0;
}

.slick-list:focus {
  outline: 0;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list, .slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  top: 0;
  left: 0;
}

.slick-track:after, .slick-track:before {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -35px;
  display: block;
  width: 100%; 
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 0 10px;
  cursor: pointer;
}
.slick-dots li button {
  display: block;
  width: 4px;
  height: 4px;
  padding: 4px;
  font-size: 0px;
  line-height: 0px;
  color: transparent;
  cursor: pointer; 
  background: transparent;
  border: 1px solid #004ea1;
  border-radius: 20px;
  outline: none;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li.slick-active button {
  background: #f9bd00;
  border: 1px solid #f9bd00; 
  opacity: .75;
}

/* ----------------------------------------------------------   
   iconmoons
   ---------------------------------------------------------- */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;

  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-top01:before {
  content: "\e900";
}

.icon-lang:before {
  content: "\e901";
}

.icon-lock:before {
  content: "\e902";
}

.icon-cart02:before {
  content: "\e903";
}

.icon-person:before {
  content: "\e904";
}

.icon-arrow-bottom02:before {
  content: "\e905";
}

.icon-search02:before {
  content: "\e906";
}

.icon-maker:before {
  content: "\e907";
}

.icon-model:before {
  content: "\e908";
}

.icon-year:before {
  content: "\e909";
}

.icon-part:before {
  content: "\e90a";
}

.icon-mail:before {
  content: "\e90b";
}

.icon-facebook:before {
  content: "\e90c";
}

.icon-line:before {
  content: "\e90d";
}

.icon-wechat:before {
  content: "\e90f";
}

.icon-whats-app:before {
  content: "\e910";
}

.icon-arrow-right:before {
  content: "\e911";
}

.icon-cart01:before {
  content: "\e912";
}

.icon-search01:before {
  content: "\e913";
}

.icon-around:before {
  content: "\e914";
}

.icon-prev:before {
  content: "\e915";
}

.icon-next:before {
  content: "\e916";
}

.icon-arrow-bottom01:before {
  content: "\e917";
}
