/* -----------------------------------------------------------
   common
   ----------------------------------------------------------- */
.brand-card li, .content-card li {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #111111;
}
.brand-card li a, .content-card li a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  display: block; 
  content: "";
}
.brand-card li a:after, .content-card li a:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: " ";
  transition: all .4s;
}
.brand-card li a:before, .content-card li a:before {
  position: absolute;
  bottom: -18px;
  left: 50%;
  z-index: 2;
  display: block;
  width: 0;
  height: 0;
  margin-left: -20px;
  content: "";
  border-color: transparent transparent #ffffff transparent;
  border-style: solid;
  border-width: 0 20px 18px 20px;
  opacity: 0; 
  transition: all .4s;
}
.brand-card li a:hover:before, .content-card li a:hover:before {
  opacity: 1;
}
.brand-card li .des, .content-card li .des {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
  display: block;
  color: #ffffff;
  pointer-events: none;
}
.brand-card li .ttl, .content-card li .ttl {
  position: relative;
  padding: 0 0 15px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}
.brand-card li figure, .content-card li figure {
  position: absolute;
  top: 0; 
  left: 0;
}
.brand-card li img, .content-card li img {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

/* brand-list */
.brand-card li a:before {
  bottom: -29px;
  margin-left: -28px;
  border-width: 0 28px 29px 28px;
}

.brand-list {
  padding: 105px 0 50px;
  overflow: hidden;
}

.brand-card li {
  width: 49%;
}
.brand-card li a {
  border-bottom: 16px solid #004ea1;
}
.brand-card li a:after {
  background-color: rgba(0, 0, 0, 0.45);
}
.brand-card li a:before {
  bottom: -19px; 
  font-size: 22px;
}
.brand-card li a:hover:after {
  background-color: rgba(0, 0, 0, 0.6);
}
.brand-card li:first-child {
  float: left;
}
.brand-card li:last-child {
  float: right;
}
.brand-card li .des {
  padding: 5.5% 8%;
}
.brand-card li .ttl {
  font-size: 33px;
  letter-spacing: 2px;
}
.brand-card li .ttl:after {
  position: absolute;
  bottom: 0;
  display: block;
  width: 32px;
  height: 3px;
  content: "";
  background: #eaad03;
  border-radius: 20px;
}
.brand-card li .txt {
  padding: 9% 0 0;
}

/* content-list */
.content-list {
  padding: 80px 0 0; 
  overflow: hidden;
}

.content-card li {
  float: left; 
  width: 32.333%;
}
.content-card li:nth-child(1), .content-card li:nth-child(2) {
  margin-right: 1.5%;
}
.content-card li a:after {
  background-color: rgba(0, 0, 0, 0.25);
}
.content-card li a:before {
  bottom: 0; 
  font-size: 18px;
}
.content-card li a:hover:after {
  background-color: rgba(0, 0, 0, 0.5);
}
.content-card li .des {
  padding: 7% 8%;
}
.content-card li .ttl {
  font-size: 28px;
  text-align: center; 
  letter-spacing: 1.5px;
}
.content-card li .txt {
  margin: 15% 0 0;
  font-size: 14px; 
  text-align: center;
}

@media (max-width: 1200px) {
  .content-card li .txt {
    margin: 7% 0 0;
  }
  .content-card li img {
    width: 110%;
    margin-left: -5%;
  }
}

@media (max-width: 1100px) {
  .brand-card li .des {
    padding: 6% 8%;
  }
  .brand-card li .ttl {
    padding-bottom: 15px;
    font-size: 25px;
    letter-spacing: 1px;
  }
  .brand-card li .ttl:after {
    width: 20px;
  }
  .brand-card li a {
    border-bottom: 13px solid #004ea1;
  }
  .brand-card li .txt {
    padding: 5% 0 0;
  }
  .brand-card li img {
    width: 130%;
    margin-left: -15%;
  }
  .content-card li .ttl {
    font-size: 23px;
  }
}

@media (max-width: 900px) {
  .brand-card li .des, .content-card li .des {
    position: absolute;
    top: 50%;
    bottom: auto;
    left: 50%;
    display: inline-block;
    width: 90%;
    padding: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .brand-card li {
    float: none !important;
    width: 100%;
    max-height: 250px;
  }
  .brand-card li + li {
    margin: 3% 0 0;
  }
  .brand-card li .ttl {
    font-size: 30px;
    line-height: 1.5;
  }
  .brand-card li .ttl:after {
    width: 30px;
    height: 2px;
  }
  .brand-card li a {
    border-bottom: 10px solid #004ea1;
  }
  .brand-card li .des {
    padding: 0 4%;
  }
  .brand-card li .txt {
    padding: 30px 0 0;
  }
  .content-card li {
    width: 48%;
    height: 230px;
    margin: 0 1% 2% !important;
  }
  .content-card li .ttl {
    font-size: 26px;
  }
  .content-card li .txt {
    margin: 4% 0 0;
  }
  .content-card li img {
    width: 100%;
    margin-left: 0;
    overflow: hidden;
  }
}

@media (max-width: 738px) {
  .content-card li {
    width: 100%;
    height: 230px;
    margin: 0 0 7% !important;
  }
  .content-card li .des {
    padding: 10% 6%;
  }
  .content-card li .ttl {
    font-size: 28px;
  }
  .content-card li .txt {
    margin: 2% 0 0;
  }
  .content-card li img {
    width: 100%;
  }
  .brand-card li .ttl {
    font-size: 25px;
  }
}

/* -----------------------------------------------------------
   .top-slide
   ----------------------------------------------------------- */
.top-slide .inner {
  max-width: 1180px;
  margin: 0 auto;
}

.top-slide-bg {
  position: relative;
}
.top-slide-bg:before {
  position: absolute;
  top: 6%;
  right: 0; 
  display: block;
  width: 800px;
  height: 420px;
  content: "";
  background: url(../img/bg_topslide.png) no-repeat right top;
  background-size: 100% auto;
}

.slide_in .copy {
  float: left;
  width: 40%;
  padding: 11% 0 12%;
}

.slide_in .image {
  position: absolute;
  right: -200px;
  z-index: 3; 
  float: right;
  width: 75%;
  max-width: 1047px;
  padding: 125px 0 0;
}

.slide_in .copy_big {
  font-size: 65px;
  font-weight: 900;
  line-height: 1; 
  color: #004ea1;
  letter-spacing: 2px;
}

.slide_in .copy_small {
  margin: 25px 0 35px;
  line-height: 1.8; 
  color: #434a51;
}

@media (max-width: 1200px) {
  .top-slide .inner {
    padding: 0;
  }
  .top-slide-bg:before {
    width: 80%;
    height: 100%;
    background-position: 100px 0;
  }
  .slide_in .copy {
    padding: 8% 0 8% 5%;
  }
  .slide_in .image {
    right: -30px;
    width: 60%;
    padding: 12% 5% 0 0;
  }
  .slide_in .copy_big {
    font-size: 55px;
  }
  .slide_in .copy_small {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .top-slide-bg:before {
    width: 75%;
    height: 100%;
    background-position: 0px 30px;
  }
  .slide_in .copy {
    padding: 7% 0 7% 5%;
  }
  .slide_in .image {
    padding: 17% 5% 0 0;
  }
  .slide_in .copy_big {
    font-size: 35px;
  }
  .slide_in .copy_small {
    margin: 5% 0 9%;
    font-size: 13px;
    line-height: 1.64;
  }
}

@media (max-width: 600px) {
  .top-slide-bg:before {
    top: -5%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 80%;
    margin: auto; 
    background-position: center top;
    background-size: cover;
  }
  .slide_in {
    padding: 5% 0 7%;
  }
  .slide_in .copy {
    float: none;
    width: 100%;
    padding: 3% 5% 0;
    text-align: center;
  }
  .slide_in .image {
    position: relative;
    right: 0;
    float: none;
    width: 74%;
    padding: 17% 5% 0 0;
    padding: 0;
    margin: 0 auto;
  }
  .slide_in .copy_big {
    font-size: 38px;
  }
  .slide_in .copy_small {
    margin: 2.5% 0 6%;
  }
  .slide_in .copy_small br {
    display: none;
  }
}

/* -----------------------------------------------------------
   .products-lineup
   ----------------------------------------------------------- */
.products-lineup {
  padding: 90px 0 40px;
  background: url(../img/bg_polygon02.png) repeat-x left top;
}

.products-list {
  width: 96%; 
  margin: 80px auto 0;
  font-size: 0;
}
.products-list li {
  display: inline-block;
  width: 25%;
  box-sizing: border-box; 
  padding: 0 3%;
  margin: 0 0 75px;
  text-align: center;
}
.products-list li a {
  display: block;
  text-align: center;
}
.products-list li a figure {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: .41s;
  transition-duration: .41s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}
.products-list li a figure:before {
  position: absolute;
  top: 100%;
  left: 16%;
  z-index: -1;
  width: 68%;
  height: 18px;
  pointer-events: none;
  content: "";
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.45) 0, rgba(0, 0, 0, 0) 70%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.45) 0, rgba(0, 0, 0, 0) 70%);
  -webkit-transition-duration: .31s;
  transition-duration: .31s;
  -webkit-transition-property: transform,opacity;
  transition-property: transform,opacity;
}
.products-list li a:hover figure:before {
  opacity: 0.8;
}
.products-list li a img {
  max-width: 174px;
  max-height: 174px;
  margin: 0 auto;
}
.products-list li a span {
  display: block;
  padding: 40px 0 0;
  font-size: 18px;
  font-weight: 600; 
  color: #5d5d5d;
}

@media (max-width: 1100px) {
  .products-list {
    width: 100%;
  }
  .products-list li a span {
    font-size: 16px;
  }
  .products-lineup {
    padding: 40px 0 10px;
  }
}

@media (max-width: 900px) {
  .product-list-wrap {
    width: 100%;
  }
  .products-list {
    width: auto; 
    margin: 0 -5%;
  }
  .products-list li {
    width: 50%;
    padding: 0 6.5%; 
    margin: 0 0 8%;
  }
  .products-list li a span {
    padding: 20px 0 0;
    font-size: 14px;
  }
}

/* -----------------------------------------------------------
   .select-films
   ----------------------------------------------------------- */
.select-films {
  padding: 80px 0 0;
}
.select-films .inner {
  max-width: 1180px;
}

.select-list-wrap .serch-btn {
  position: relative; 
  float: left;
  width: 18%;
  height: 70px;
  text-align: center;
  background: #004ea1;
}
.select-list-wrap .serch-btn button {
  display: table-cell;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif; 
  letter-spacing: 1px;
  background: #004ea1;
  border-bottom: 4px solid #b0bdc6;
}
.select-list-wrap .serch-btn span {
  position: relative;
  top: 2px; 
  font-size: 19px;
  font-weight: 600;
  color: #ffffff;
}
.select-list-wrap .serch-btn span.ico-glass {
  position: absolute;
  top: 50%;
  right: 8%;
  margin-top: -10px; 
  font-size: 19px;
}

.select-list-wrap .select-list {
  float: left;
  width: 82%;
  height: 70px; 
  padding: 15px 0px 15px 55px;
  font-size: 0;
  background: #ffffff;
  border: 1px solid #004ea1;
}
.select-list-wrap .select-list li {
  position: relative;
  display: inline-block;
  width: 25%;
  margin: 2em auto;
  margin: 0; 
  overflow: hidden;
  text-align: center;
  background: #ffffff;
}
.select-list-wrap .select-list li span {
  position: absolute; 
  display: inline-block;
  padding-right: 8px;
}
.select-list-wrap .select-list li form {
  display: inline-block;
  width: 100%;
}
.select-list-wrap .select-list li:before {
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  padding: 0;
  margin-top: -2px;
  pointer-events: none; 
  content: "";
  border-top: 6px solid #004ea1;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.select-list-wrap .select-list li select {
  width: 100%;
  -webkit-appearance: none;
  padding: 10px 35px 10px 31px;
  padding-right: 1em;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #4d4d4d;
  text-align: center; 
  text-indent: 0.01px;
  text-overflow: ellipsis;
  letter-spacing: 0.8px;
  cursor: pointer;
  background: transparent;
  background-image: none;
  border: none;
  outline: none;
  box-shadow: none;

  appearance: none;
}
.select-list-wrap .select-list li.maker span {
  top: 11px; 
  font-size: 17px;
}
.select-list-wrap .select-list li.maker:before {
  right: 52px;
}
.select-list-wrap .select-list li.model span {
  top: 11px; 
  font-size: 16px;
}
.select-list-wrap .select-list li.model:before {
  right: 48px;
}
.select-list-wrap .select-list li.part span {
  top: 8px; 
  font-size: 23px;
}
.select-list-wrap .select-list li.part:before {
  right: 65px;
}
.select-list-wrap .select-list li.year span {
  top: 8px; 
  font-size: 22px;
}
.select-list-wrap .select-list li.year:before {
  right: 69px;
}

@media (max-width: 1200px) {
  .select-list-wrap .select-list {
    float: none;
    width: 100%;
    height: auto;
    padding: 15px 30px;
  }
  .select-list-wrap .select-list li {
    width: 50%;
    padding: 9px 0;
  }
  .select-list-wrap .select-list li.maker span {
    top: 20px;
  }
  .select-list-wrap .select-list li.model span {
    top: 20px;
  }
  .select-list-wrap .select-list li.part span {
    top: 18px;
  }
  .select-list-wrap .select-list li.year span {
    top: 17px;
  }
  .select-list-wrap .serch-btn {
    float: none;
    width: 70%;
    margin: 30px auto 0;
  }
  .select-list-wrap .serch-btn span {
    top: 0;
  }
}

@media (max-width: 1100px) {
  .select-films {
    padding: 40px 0 0;
  }
}

@media (max-width: 738px) {
  .select-list-wrap .select-list {
    padding: 13px 25px 17px;
  }
  .select-list-wrap .select-list li {
    width: 100%;
  }
  .select-list-wrap .select-list li select {
    padding-left: 38px;
  }
  .select-list-wrap .select-list li:before {
    right: 5px !important;
  }
  .select-list-wrap .select-list li.maker span {
    left: 2px;
  }
  .select-list-wrap .select-list li.model span {
    left: 2px;
  }
  .select-list-wrap .select-list li.year span {
    left: 2px;
  }
  .select-list-wrap .serch-btn {
    height: 60px;
  }
  .select-list-wrap .serch-btn span {
    font-size: 16px;
  }
  .select-list-wrap .serch-btn span.ico-glass {
    margin-top: -9px; 
    font-size: 16px;
  }
}

/* -----------------------------------------------------------
   .news-content
   ----------------------------------------------------------- */
.news-content {
  padding: 110px 0 0;
}
.news-content .news-btn {
  margin: 55px auto 0;
  text-align: center;
}

.news-content-list {
  max-width: 730px;
  margin: 45px auto 0;
}
.news-content-list li {
  overflow: hidden; 
  clear: both;
}
.news-content-list li + li {
  margin: 25px 0 0;
}
.news-content-list li time {
  position: relative;
  position: relative; 
  z-index: 10;
  float: left;
  padding: 0 10px 0 0;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.news-content-list li time:after {
  position: absolute;
  top: 50%;
  right: -9px;
  z-index: -1; 
  width: 9px;
  content: "";
  border-top: 1px solid #004ea1;
}
.news-content-list li a {
  float: left;
  margin: 0 0 0 50px;
  color: #848484;
}

@media (max-width: 900px) {
  .news-content {
    padding: 90px 0 0;
  }
  .news-content .news-btn {
    margin: 40px auto 0;
  }
  .news-content-list {
    max-width: 100%; 
    margin: 0 auto;
  }
  .news-content-list li {
    overflow: hidden;
    clear: both;
    font-size: 14px;
  }
  .news-content-list li + li {
    margin: 20px 0 0;
  }
  .news-content-list li time {
    float: left;
    width: 15%;
    padding: 0;
    padding: 0 0 10px 0;
  }
  .news-content-list li time:after {
    top: auto;
    bottom: 0px; 
    left: 0;
  }
  .news-content-list li a {
    float: left; 
    width: 81%;
    margin: 0 0 0 4%;
  }
}

@media (max-width: 738px) {
  .news-content {
    padding: 75px 0 0;
  }
  .news-content .news-btn {
    margin: 40px auto 0;
  }
  .news-content-list li + li {
    margin: 25px 0 0;
  }
  .news-content-list li time {
    display: block;
    float: none;
    width: 80px;
    padding: 0 0 7px 0; 
    font-size: 13px;
  }
  .news-content-list li time:after {
    top: 50%;
    right: -9px;
    left: auto; 
    margin-top: -5px;
  }
  .news-content-list li a {
    float: none;
    width: 100%;
    margin-left: 0;
    font-size: 13px;
  }
}

/* -----------------------------------------------------------
   .magazine-content
   ----------------------------------------------------------- */
.magazine-content {
  width: 100%; 
  background: url(../img/top/bg_mail.jpg) no-repeat left top;
  background-size: cover;
}
.magazine-content .headline span {
  font-size: 25px;
  color: #ffffff;
}
.magazine-content .headline .title {
  padding: 18px 0 10px;
  color: #ffffff;
}
.magazine-content .headline .txt {
  font-size: 16px; 
  color: #ffffff;
}

.magazin-content-in {
  max-width: 620px;
  padding: 120px 0 170px 100px;
  text-align: center;
}

.magazine-input {
  width: 88%;
  margin: 0 auto;
}
.magazine-input button {
  float: left;
  width: 28%;
  height: 50px;
  font-size: 16px;
  font-weight: 500; 
  color: #ffffff;
  letter-spacing: 0.7px;
  background: #eaad03;
}

.magazine-input_input {
  float: left; 
  width: 72%;
  height: 50px;
  -webkit-appearance: none;
  padding-right: 15px;
  padding-left: 15px;
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
  color: #5d5d5d;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #ffffff;
  border: 0;

  -moz-appearance: none;
  appearance: none;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

@media (max-width: 1200px) {
  .magazine-content {
    background-position: -400px 0;
  }
  .magazin-content-in {
    max-width: 580px; 
    padding: 110px 0 150px 0;
  }
}

@media (max-width: 900px) {
  .magazine-content {
    background-position: -650px 0;
  }
  .magazine-content .headline .txt {
    font-size: 14px;
  }
  .magazin-content-in {
    padding: 110px 0 150px 0;
    margin: 0 auto;
  }
}

@media (max-width: 738px) {
  .magazine-content {
    background-position: -360px 0;
  }
  .magazine-content .headline span {
    font-size: 20px;
  }
  .magazin-content-in {
    padding: 55px 0 70px 0;
  }
  .magazine-input button {
    height: 40px;
  }
  .magazine-input_input {
    height: 40px;
  }
}

@media (max-width: 500px) {
  .magazine-content {
    background-position: -450px 0;
  }
}
