body{
	font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',"游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
	font-weight: 500;
}

.caption-banner h2{
	font-weight: bold;
	font-style: normal;
}

.headline h1, .headline h2{
	letter-spacing: normal;
}