@charset "UTF-8";
@import "settings";

/* -----------------------------------------------------------
   common
   ----------------------------------------------------------- */
.brand-card,.content-card{
  li{
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #111;
    a{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      z-index: 11;
      display: block;
      &:after{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: ' ';
        display: block;
        transition: all .4s;
      }
      &:before{
        position: absolute;
        z-index: 2;
        bottom: -18px;
        left: 50%;
        display: block;
        width: 0;
        height: 0;
        margin-left: -20px;
        content: "";
        border-color: transparent transparent #ffffff transparent;
        border-style: solid;
        border-width: 0 20px 18px 20px;
        transition: all .4s;
        opacity: 0;

      }
      &:hover{
        &:before{
          opacity: 1;
        }
      } 
    }
    .des{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 12;
      color: #ffffff;
      display: block;
      pointer-events: none;
    }
    .ttl{
      font-family: 'Roboto Condensed', sans-serif;
      position: relative;
      padding: 0 0 15px;
      font-weight: 700;
    }
    figure{
      position: absolute;
      left: 0;
      top: 0;
    }
    img{
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
    }
  }
}

/* brand-list */
.brand-card li a:before{
  bottom: -29px;
  margin-left: -28px;
  border-width: 0 28px 29px 28px;
}
.brand-list{
  padding: 105px 0 50px;
  overflow: hidden;
}
.brand-card{
  li{
    width: 49%;
    a{
      border-bottom: 16px solid $color01;
      &:after{
        background-color: rgba(0,0,0,0.45);
      }
      &:before{
        font-size: 22px;
        bottom: -19px;
      }
      &:hover{
        &:after{
          background-color: rgba(0,0,0,0.6);
        }
      }
    }
    &:first-child{
      float: left;
    }
    &:last-child{
      float: right;
    }
    .des{
      padding: 5.5% 8%;
    }
    .ttl{
      font-size: 33px;
      letter-spacing: 2px;
      &:after{
        display: block;
        content: "";
        width: 32px;
        height: 3px;
        background: $color02;
        position: absolute;
        bottom: 0;
        border-radius: 20px;
      }
    }
    .txt{
      padding: 9% 0 0;
    } 
  }
} 

/* content-list */
.content-list{
  overflow: hidden;
  padding: 80px 0 0;
}
.content-card{
  li{
    width: 32.333%;
    float:left;
    &:nth-child(1),&:nth-child(2){
      margin-right: 1.5%;
    }
    a{
      &:after{
        background-color: rgba(0,0,0,0.25);
      }
      &:before{
        font-size: 18px;
        bottom: 0;
      }
      &:hover{
        &:after{
          background-color: rgba(0,0,0,0.5);
        }
      }
    }
    .des{
      padding: 7% 8%;
    }
    .ttl{
      letter-spacing: 1.5px;
      font-size: 28px;
      text-align: center;
    }
    .txt{
      margin: 15% 0 0;
      text-align: center;
      font-size: 14px;
    }
  }
} 

@media (max-width: 1200px) {
  .content-card {
     li {
      .txt{
        margin: 7% 0 0;
      }
      img{
        width: 110%;
        margin-left: -5%;
      }
    }
  }
}
@media (max-width: 1100px) {
  .brand-card{
    li{
      .des{
        padding: 6% 8%;
      }
      .ttl{
        font-size: 25px;
        padding-bottom: 15px;
        letter-spacing: 1px;
        &:after{
          width: 20px;
        }
      }
      a{
        border-bottom: 13px solid $color01;
      }
      .txt{
        padding: 5% 0 0;
      } 
      img{
        width: 130%;
        margin-left: -15%;
      }
    }
  }
  .content-card {
    li{
      .ttl{
        font-size: 23px;
      }
    }
  }
}
@media (max-width: 900px) {
  .brand-card,.content-card{
    li{
      .des{
        width: 90%;
        padding: 0;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        bottom: auto;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
  }
  .brand-card{
    li{
      float: none !important;
      width: 100%;
      max-height: 250px;
      + li{
        margin: 3% 0 0;
      }
      .ttl{
        font-size: 30px;
        line-height: 1.5;
        &:after{
          width: 30px;
          height: 2px;
        }
      }
      a{
        border-bottom: 10px solid $color01;
      }
      .des{
        padding: 0 4%;
      }
      .txt{
        padding: 30px 0 0;
      } 
    }
  }
  .content-card {
    li{
      width: 48%;
      height: 230px;
      margin: 0 1% 2% !important;
      
      .ttl{
        font-size: 26px;
      }
      .txt{
        margin: 4% 0 0;
      }
      img{
        width: 100%;
        margin-left: 0;
        overflow: hidden;
      }
    }
  }
}
@media (max-width: 738px) {
  .content-card {
    li{
      width: 100%;
      height: 230px;
      margin: 0 0 7% !important;
      .des{
        padding: 10% 6%;
      }
      .ttl{
        font-size: 28px;
      }
      .txt{
        margin: 2% 0 0;
      }
      img{
        width: 100%;
      }
    }
  }
  .brand-card{
    li{
      .ttl{
        font-size: 25px;
      }
    }
  }
}

/* -----------------------------------------------------------
   .top-slide
   ----------------------------------------------------------- */

.top-slide{
  .inner{
  	max-width: 1180px;
    margin: 0 auto;
  }
}
.top-slide-bg{
  position: relative;
  &:before{
	display: block;
	content: "";
	background: url(../img/bg_topslide.png) no-repeat right top;
	background-size: 100% auto;
	width: 800px;
	height: 420px;
	position: absolute;
	top: 6%;
	right: 0;
  }
}   
.slide_in{
  .copy{
  	float: left;
  	width: 40%;
  	padding: 11% 0 12%;
  }
  .image{
  	float: right;
  	width: 75%;
  	padding: 125px 0 0;
  	max-width: 1047px;
    position: absolute;
    right: -200px;
    z-index: 3;
  }
  .copy_big{
  	color: $color01;
  	font-weight: 900;
  	font-size: 65px;
  	letter-spacing: 2px;
  	line-height: 1;
  }
  .copy_small{
  	margin: 25px 0 35px;
  	color: #434a51;
  	line-height: 1.8;
  }
}
@media (max-width: 1200px) {
  .top-slide{
    .inner{
      padding: 0;
    }
  }
  .top-slide-bg{
    &:before{
      width: 80%;
      height: 100%;
      background-position: 100px 0;
    }
  }
  .slide_in{
    .copy{
      padding: 8% 0 8% 5%;
    }
    .image{
      width: 60%;
      right: -30px;
      padding: 12% 5% 0 0;
    }
    .copy_big{
      font-size: 55px;
    }
    .copy_small{
      font-size: 14px;
    }
  }
}
@media (max-width: 900px) {
  .top-slide-bg{
    &:before{
      width: 75%;
      height: 100%;
      background-position: 0px 30px;
    }
  }
  .slide_in{
    .copy{
      padding: 7% 0 7% 5%;
    }
    .image{
      padding: 17% 5% 0 0;
    }
    .copy_big{
      font-size: 35px;
    }
    .copy_small{
      margin: 5% 0 9%;
      font-size: 13px;
      line-height: 1.64;
    }
  }
}
@media (max-width: 600px) {
  .top-slide-bg{
    &:before{
      width: 80%;
      height: 80%;
      background-size: cover;
      background-position: center top;
      top: -5%;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
  .slide_in{
    padding: 5% 0 7%;
    .copy{
      float: none;
      width: 100%;
      padding: 3% 5% 0;
      text-align: center;
    }
    .image{
      padding: 17% 5% 0 0;
      position: relative;
      float: none;
      right: 0;
      padding: 0;
      width: 74%;
      margin: 0 auto;
    }
    .copy_big{
      font-size: 38px;
    }
    .copy_small{
      margin: 2.5% 0 6%;
      br{
        display: none;
      }
    }
  }
}


/* -----------------------------------------------------------
   .products-lineup
   ----------------------------------------------------------- */
.products-lineup{
  padding: 90px 0 40px;	
  background: url(../img/bg_polygon02.png) repeat-x left top;
}
.products-list{
  margin: 80px auto 0;
  font-size: 0;
  width: 96%;
	li{
    display: inline-block;
    width: 25%;
    text-align: center;
    margin: 0 0 75px;
    padding: 0 3%;
    box-sizing: border-box;
    a{
      display: block;
      text-align: center;
      figure{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: .41s;
        transition-duration: .41s;
        -webkit-transition-property: transform;
        transition-property: transform; 
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        &:before{
          position: absolute;
          top: 100%;
          left: 16%;
          z-index: -1;
          width: 68%;
          height: 18px;
          pointer-events: none;
          content: "";
          background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.45) 0, rgba(0, 0, 0, 0) 70%);
          background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.45) 0, rgba(0, 0, 0, 0) 70%);
          -webkit-transition-duration: .31s;
          transition-duration: .31s;
          -webkit-transition-property: transform,opacity;
          transition-property: transform,opacity;
        }
      }
      &:hover{
        figure{
          &:before{
            opacity: 0.8;
          }
        }
      }
      img{
        max-width: 174px;
        max-height: 174px;
        margin: 0 auto;
      }
      span{
        font-size: 18px;
        display: block;
        padding: 40px 0 0;
        color: #5d5d5d;
        font-weight: 600;
      }
    }
  }
}
@media (max-width: 1100px) {
  .products-list{
    width: 100%;
    li{
      a span{
        font-size: 16px;
      }
    }
  }
  .products-lineup{
    padding: 40px 0 10px;
  }
}
@media (max-width: 900px) {
  .product-list-wrap{
    width: 100%;
  }
  .products-list{
    margin: 0 -5%;
    width: auto;
    li{
      width: 50%;
      margin: 0 0 8%;
      padding: 0 6.5%;
      a span{
        padding: 20px 0 0;
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 738px) {

}

/* -----------------------------------------------------------
   .select-films
   ----------------------------------------------------------- */
.select-films{
  padding: 80px 0 0;
  .inner{
    max-width: 1180px;
  }
}
.select-list-wrap{
  .serch-btn{
    width: 18%;
    float: left;
    height: 70px;
    text-align: center;
    background: $color01;
    position: relative;
    button{
      background: $color01;
      display: table-cell;
      height: 100%;
      width: 100%;
      letter-spacing: 1px;
      border-bottom: 4px solid #b0bdc6;
      font-family: 'Montserrat', sans-serif; 
    }
    span{
      color: #ffffff;
      font-size: 19px;
      font-weight: 600;
      position: relative;
      top: 2px;
      &.ico-glass{
        position: absolute;
        right: 8%;
        top: 50%;
        font-size: 19px;
        margin-top: -10px;

      }
    }
  }
  .select-list{
    font-size: 0;
    background: #ffffff;
    padding: 15px 0px 15px 55px;
    border: 1px solid $color01;
    width: 82%;
    float: left;
    height: 70px;
    li{
      overflow: hidden;
      width: 25%;
      margin: 2em auto;
      text-align: center;
      position: relative;
      background: #ffffff;
      display: inline-block;
      margin: 0;
      span{
        display: inline-block;
        padding-right: 8px;
        position: absolute;
      }
      form{
        display: inline-block;
        width: 100%;
      }
      &:before{
        position: absolute;
        top: 50%;
        width: 0;
        height: 0;
        padding: 0;
        margin-top: -2px;
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid $color01;
        pointer-events: none;
      }
      select{
        width: 100%;
        padding-right: 1em;
        cursor: pointer;
        text-indent: 0.01px;
        text-overflow: ellipsis;
        font-size:15px;
        border: none;
        outline: none;
        background: transparent;
        background-image: none;
        box-shadow: none;
        -webkit-appearance: none;
        appearance: none;
        padding: 10px 35px 10px 31px;
        color: #4d4d4d;
        font-family: 'Montserrat', sans-serif; 
        font-weight: 600;
        letter-spacing: 0.8px;
        text-align: center;
      }
    }
    li.maker{
      span{
        font-size: 17px;
        top: 11px;
      }
      &:before{
        right: 52px;
      }
    }
    li.model{
      span{
        font-size: 16px;
        top: 11px;
      }
      &:before{
        right: 48px;
      }
    }
    li.part{
      span{
        font-size: 23px;
        top: 8px;
      }
      &:before{
        right: 65px;
      }
    }
    li.year{
      span{
        font-size: 22px;
        top: 8px;
      }
      &:before{
        right: 69px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .select-list-wrap{
    .select-list{
      width: 100%;
      float: none;
      height: auto;
      padding: 15px 30px;
      li{
        width: 50%;
        padding: 9px 0;
      }
      li.maker{
        span{
          top: 20px;
        }
      }
      li.model{
        span{
          top: 20px;
        }
      }
      li.part{
        span{
          top: 18px;
        }
      }
      li.year{
        span{
          top: 17px;
        }
      }
    }
    .serch-btn{
      width: 70%;
      float: none;
      margin: 30px auto 0;
      span{
        top: 0;
      }
    }
  }
}
@media (max-width: 1100px) {
  .select-films {
    padding: 40px 0 0;
  }
}
@media (max-width: 738px) {
  .select-list-wrap{
    .select-list{
      padding: 13px 25px 17px;
      li{
        width: 100%;
        select{
          padding-left: 38px;
        }
        &:before{
          right: 5px !important;
        }
        &.maker span{
          left: 2px;
        }
        &.model span{
          left: 2px;
        }
        &.year span{
          left: 2px;
        }
      }
    }
    .serch-btn{
      height: 60px;
      span{
        font-size: 16px;
        &.ico-glass{
          font-size: 16px;
          margin-top: -9px;
        }
      }
    }
  }
}

/* -----------------------------------------------------------
   .news-content
   ----------------------------------------------------------- */
.news-content{
  padding: 110px 0 0;
  .news-btn{
    margin: 55px auto 0;
    text-align: center;
  }
}
.news-content-list{
  max-width: 730px;
  margin: 45px auto 0;
  li{
    clear: both;
    overflow: hidden;
    + li{
      margin: 25px 0 0;
    }
    time{
      font-weight: 600;
      float: left;
      position: relative;
      padding: 0 10px 0 0;
      z-index: 10;
      letter-spacing: 0.5px;
      position: relative;
      &:after{
        border-top: 1px solid $color01;
        content: "";
        position: absolute;
        top: 50%;
        right: -9px;
        width: 9px;
        z-index: -1;
      }
    }
    a{
      float: left;
      margin: 0 0 0 50px;
      color: #848484;
    }
  }
}
@media (max-width: 900px) {
  .news-content{
    padding: 90px 0 0;
    .news-btn{
      margin: 40px auto 0;
    }
  }
  .news-content-list{
    margin: 0 auto;
    max-width: 100%;
    li{
      clear: both;
      overflow: hidden;
      font-size: 14px;
      +li{
        margin: 20px 0 0;
      }
      time{
        width: 15%;
        float: left;
        padding: 0;
        padding: 0 0 10px 0;
        &:after{
          left: 0;
          top: auto;
          bottom: 0px;
        }
      }
      a{
        width: 81%;
        margin: 0 0 0 4%;
        float: left;
      }
    }
  }
}
@media (max-width: 738px) {
  .news-content{
    padding: 75px 0 0;
    .news-btn{
      margin: 40px auto 0;
    }
  }
  .news-content-list{
    li{
      + li{
        margin: 25px 0 0;
      }
      time{
        float: none;
        width: 80px;
        display: block;
        font-size: 13px;
        padding: 0 0 7px 0;
        &:after{
          right: -9px;
          top: 50%;
          margin-top: -5px;
          left: auto;
        }
      }
      a{
        float: none;
        width: 100%;
        margin-left: 0;
        font-size: 13px;
      }
    }
  }
}


/* -----------------------------------------------------------
   .magazine-content
   ----------------------------------------------------------- */
.magazine-content{
  background: url(../img/top/bg_mail.jpg) no-repeat left top;
  background-size: cover;
  width: 100%;
  .headline{
    span{
      font-size: 25px;
      color: #fff;
    }
    .title{
      padding: 18px 0 10px;
      color: #fff;
    }
    .txt{
      color: #fff;
      font-size: 16px;
    }
  }
}  
.magazin-content-in{
  max-width: 620px;
  padding: 120px 0 170px 100px;
  text-align: center;
}
.magazine-input{
  width: 88%;
  margin: 0 auto;
  button{
    width: 28%;
    float: left;
    height: 50px;
    background: $color02;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.7px;
    font-weight: 500;
  }
} 
.magazine-input_input{
  height: 50px;
  width: 72%;
  -webkit-appearance: none;
  padding-right: 15px;
  padding-left: 15px;
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
  color: #5d5d5d;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #ffffff;
  border: 0;
  -moz-appearance: none;
  appearance: none;
  -ms-flex-positive: 1;
  flex-grow: 1;
  float: left;
}
@media (max-width: 1200px) {
  .magazine-content{
    background-position: -400px 0;
  }
  .magazin-content-in{
    padding: 110px 0 150px 0;
    max-width: 580px;
  }
}
@media (max-width: 900px) {
  .magazine-content{
    background-position: -650px 0;
    .headline{
      .txt{
        font-size: 14px;
      }
    }
  }
  .magazin-content-in{
    padding: 110px 0 150px 0;
    margin: 0 auto;
  }
}
@media (max-width: 738px) {
  .magazine-content{
    background-position: -360px 0;
    .headline{
      span{
        font-size: 20px;
      }
    }
  }
  .magazin-content-in{
    padding: 55px 0 70px 0;
  }
  .magazine-input{
    button{
      height: 40px;
    }
  }
  .magazine-input_input{
    height: 40px;
  }
}
@media (max-width: 500px) {
  .magazine-content{
    background-position: -450px 0;
  }
}













