<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<title>SENSHA Amazon Payment Confirmation</title>
<script type='text/javascript'>
  var base_url = '{{$BASE_URL}}';
  window.onAmazonLoginReady = function() {
    amazon.Login.setClientId('{{$AZ_CLIENT_ID}}');
  };
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type='text/javascript' src='{{$AZ_URL_WIDGETS}}'></script>      
	<style>
		html, body{
			margin: 0;
			padding: 0;
			font-size:15px;
			font-weight:400;
			font-family:"Montserrat", 'Hiragino Kaku Gothic ProN', "Yu Gothic",sans-serif;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		h1{
			background: #004ea1;
			background: #eaad03;
			color:#fff;
			margin: 0 0 40px;
			padding: 5px 0;
			font-size: 16px;
		}
		h2{
			margin: 0 0 30px;			
		}
		p {
			margin: 0 0 40px;
		}
		p span{
			display: block;
			font-size: 0.9em;
		}
		table{
			width: 100%;
			max-width: 800px;
			background: #fefefe;
			border: none;
			border-spacing: 0px;
		}
		table thead{
			background: #004ea1;
			color: #fff;
			text-align: center;
		}
		table tr th, table tr td{
			padding: 5px;
		}
		hr{
			max-width: 800px;			
		}
		#Logout, #return{
			display: block;
			margin: 0 auto;
			padding: 5px 20px;
			color: #ffffff;
			font-size:14px;
			background: #b0bdc6;
			border: none;
			box-shadow: 0px 0px 4px 2px #dfdfdf;
		}
	</style>
</head>
<body>
  
<div style="text-align: center;">

 
    <h1>SENSHA: Amazon Pay Confirmation</h1>
    <h2>取引番号 / Order Number: {{$data.order_invoice}}</h2>
	<p>下記のご注文内容に問題がないかご確認の上、「Amazon Payで決済する」ボタンをクリックしてお支払いを確定してください。<br /><br />Please make sure that your order details below are correct, then click [Pay with Amazon Account] button to proceed a payment.<br />[Other Transaction Contents] are the total amount other than the product costs.</span></p>
	
    <table border="1" align="center">
     <thead>
      <tr>
        <!-- th style="text-align: center;">หมายเลขสินค้า</th-->
        <th style="text-align: center;">ご注文商品 / Product Name</th>
        <th style="text-align: center;">数量 / Quantity</th>
        <th style="text-align: center">値段 / Price</th>
        <th style="text-align: center;">小計 / Subtotal Amount</th>
      </tr>
     </thead>
      <tbody>
      {{section name=index loop=$item_total step=1}}
      <tr>
        <!--td style="text-align: center;">{{$item[index].item_number}}</td-->
        <td style="text-align: left;">{{$item[index].item_name}}</td>
        <td style="text-align: center;">{{$item[index].quantity}}</td>
        <td style="text-align: right;">{{$item[index].amount_show}}</td>
        <td style="text-align: right;">{{$item[index].total_show}}</td>
      </tr>
      {{/section}}
      {{if $data.shipping > 0}}
      <tr>
        <!--td style="text-align: center;">&nbsp;</td-->
        <td style="text-align: right;" colspan="3">送料 / Shipping Cost</td>
        <td style="text-align: right;">{{$data.shipping_show}}</td>
      </tr>
      {{/if}}
      <tr>
        <!--td style="text-align: center;">&nbsp;</td-->
        <td style="text-align: right;" colspan="3"><b>合計 / Total Amount</b></td>
        <td style="text-align: right;"><b>{{$data.amount_show}}</b></td>
      </tr>
      </tbody>
    </table>
    <br><br>

    <hr>

    <div id="walletWidgetDiv" style="width:500px; height:240px; margin:0 auto; padding-bottom:10px;"></div>
    <div id="consentWidgetDiv" style="width:500px; height:100px; margin:0 auto;"></div>
    <br><br>

    <hr>
    <button id="payment_confirm" style="font-size:20px;" disabled="disabled">Amazon Payで決済する <br /> Payment</button>

    <br><br>

</div>




<script type="text/javascript">

    new OffAmazonPayments.Widgets.Wallet({
        sellerId: '{{$AZ_MERCHANT_ID}}',
        onReady: function(billingAgreement) {

            var billingAgreementId = billingAgreement.getAmazonBillingAgreementId();

            //$("#order_id").val(billingAgreementId);

            $.post( base_url+"/update/billingAgreementId", { 
                billingAgreementId: billingAgreementId
            }, function( data ) {
                if(data.status=='SUCCESS') {
                    load_consent(billingAgreementId);
                    set_billing();
                }
                else {
                    alert('เกิดความผิดพลาด กรุณาทำรายการใหม่อีกครั้ง');
                }
            }, "json");

        },
        agreementType: 'BillingAgreement',
        design: {
            designMode: 'responsive'
        },
        onPaymentSelect: function(billingAgreement) {
            // Replace this code with the action that you want to perform
            // after the payment method is selected.
            // alert('Select - Payment');
        },
        onError: function(error) {
            window.location = base_url+'/message/session_expired';
        }
    }).bind("walletWidgetDiv");

    function load_consent(id) {

        new OffAmazonPayments.Widgets.Consent({
          sellerId: '{{$AZ_MERCHANT_ID}}',
          // amazonBillingAgreementId obtained from the Amazon Address Book widget. 
          amazonBillingAgreementId: id, 
          design: {
            designMode: 'responsive'
          },
          onReady: function(billingAgreementConsentStatus){
            // Called after widget renders
            buyerBillingAgreementConsentStatus =
              billingAgreementConsentStatus.getConsentStatus();
            // getConsentStatus returns true or false
            // true - checkbox is selected
            // false - checkbox is unselected - default
          },
          onConsent: function(billingAgreementConsentStatus) {
            buyerBillingAgreementConsentStatus =
              billingAgreementConsentStatus.getConsentStatus();
            // getConsentStatus returns true or false
            // true - checkbox is selected - buyer has consented
            // false - checkbox is unselected - buyer has not consented

            // Replace this code with the action that you want to perform
            // after the consent checkbox is selected/unselected.
           },
          onError: function(error) {
            window.location = base_url+'/message/session_expired';
           }
        }).bind("consentWidgetDiv");  

    }

    function set_billing() {

        $.post( base_url+"/payment.php", { 
            action: "set_billing"
        }, function( data ) {
            if(data.status==1) {
                $("#payment_confirm").removeAttr('disabled');
            }
            else {
                alert('取引エラーが発生しました。問題を確認して再度お試しください。');
                location.reload();
            }
        }, "json");

    }

    $(document).ready(function(){

        $("#payment_confirm").click(function() {

            $("#payment_confirm").attr('disabled','disabled');

            $.post( base_url+"/payment.php", { 
                action: "pay_billing"
            }, function( data ) {
                if(data.status==0) {
                    alert('取引エラーが発生しました。問題を確認して再度お試しください。');
                    location.reload();
                }
                else {
                    window.location = data.url;
                }
            }, "json");

        });

    });
    
</script>

</body>