<html>
<head></head>
  
  <body>
  
  
    <div style="text-align: center;">

        <h2>Test</h2>


        <form action="https://sensha2.enfete.co/payment_sensha/payment" method="post" name="amazon" id="form_amazon">
          
          <input type="text" name="first_name" value="Wisuwas" style="width:500px;"><br>
          <input type="text" name="last_name" value="Kunabutra" style="width:500px;"><br>
          <input type="text" name="email" value="wisuwas@hotmail.com" style="width:500px;"><br>
          <input type="text" name="address1" value="104/2 Soi Areesamphan1, Samsennai, Phyathai, Bangkok" style="width:500px;"><br>
          <input type="text" name="address2" value="Bangkok2" style="width:500px;"><br>
          <input type="text" name="city" value="City2" style="width:500px;"><br>
          <input type="text" name="zip" value="10400" style="width:500px;"><br>
          <input type="text" name="phone" value="0835558880" style="width:500px;"><br><br>

          <input type="text" name="cbt" value="Return to Sensha" style="width:500px;" /><br>
          <input type="text" name="currency_code" value="JPY" style="width:500px;" /><br>
          <input type="text" name="url_complete_return" value="https://sensha2.enfete.co/payment_sensha/test/complete" style="width:500px;" /><br>
          <input type="text" name="url_cancel_return" value="https://sensha2.enfete.co/payment_sensha/test/cancel" style="width:500px;" /><br>
          <input type="text" name="url_callback" value="https://sensha2.enfete.co/payment_sensha/test/callback" style="width:500px;" /><br><br>

          <input type="text" name="item_name_1" value="CLAY BAR FOR WHEEL 200g Boxed" style="width:500px;" /><br>
          <input type="text" name="item_number_1" value="p1" style="width:500px;" /><br>
          <input type="text" name="amount_1" value="1843.01" style="width:500px;" /><br>
          <input type="text" name="quantity_1" value="1" style="width:500px;" /><br><br>

          <input type="text" name="item_name_2" value="ENGINE CLEAN (high concentrated) 150ml Boxed + accessories" style="width:500px;" /><br>
          <input type="text" name="item_number_2" value="p2" style="width:500px;" /><br>
          <input type="text" name="amount_2" value="1741.02" style="width:500px;" /><br>
          <input type="text" name="quantity_2" value="3" style="width:500px;" /><br><br>

          <input type="text" name="item_name_3" value="BRAKE DUST CUT (high concentrated) 4L" style="width:500px;" /><br>
          <input type="text" name="item_number_3" value="p3" style="width:500px;" /><br>
          <input type="text" name="amount_3" value="10500.03" style="width:500px;" /><br>
          <input type="text" name="quantity_3" value="1" style="width:500px;" /><br><br>

          <input type="text" name="shipping" value="500.04" style="width:500px;" /><br>
          <input type="text" name="invoice" value="{{$invoice}}" style="width:500px;" /><br><br>

          <input type="submit" value="go to Amazon Payment">

        </form>

    </div>
  
  </body>