<html>
<head>
<script type='text/javascript'>
  var base_url = '{{$BASE_URL}}';
  window.onAmazonLoginReady = function() {
    amazon.Login.setClientId('{{$AZ_CLIENT_ID}}');
  };
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type='text/javascript' src='{{$AZ_URL_WIDGETS}}'></script>      
</head>
<body>
  
<div style="text-align: center;">

    <h2>Amazon Pay</h2>

    <hr>

    <h3>เลขอ้างอิง : {{$data.order_invoice}}</h3>

    <table border="1" align="center">
      <tr>
        <th style="text-align: center;">หมายเลขสินค้า</th>
        <th style="text-align: left;">ชื่อสินค้า</th>
        <th style="text-align: center;">ปริมาณ</th>
        <th style="text-align: right;">ราคาสินค้า</th>
        <th style="text-align: right;">จำนวนเงิน</th>
      </tr>
      {{section name=index loop=$item_total step=1}}
      <tr>
        <td style="text-align: center;">{{$item[index].item_number}}</td>
        <td style="text-align: left;">{{$item[index].item_name}}</td>
        <td style="text-align: center;">{{$item[index].quantity}}</td>
        <td style="text-align: right;">{{$item[index].amount_show}}</td>
        <td style="text-align: right;">{{$item[index].total_show}}</td>
      </tr>
      {{/section}}
      {{if $data.shipping > 0}}
      <tr>
        <td style="text-align: center;">&nbsp;</td>
        <td style="text-align: right;" colspan="3">ค่าจัดส่ง</td>
        <td style="text-align: right;">{{$data.shipping_show}}</td>
      </tr>
      {{/if}}
      <tr>
        <td style="text-align: center;">&nbsp;</td>
        <td style="text-align: right;" colspan="3"><b>ราคารวม</b></td>
        <td style="text-align: right;"><b>{{$data.amount_show}}</b></td>
      </tr>
    </table>
    <br><br>

    <hr>

    <div id="walletWidgetDiv" style="width:500px; height:240px; margin:0 auto; padding-bottom:10px;"></div>
    <div id="consentWidgetDiv" style="width:500px; height:100px; margin:0 auto;"></div>
    <br><br>

    <hr>
    <button id="payment_confirm" style="font-size:20px;" disabled="disabled">Payment Confirm</button>


    <br><br>

</div>

<script type="text/javascript">

    new OffAmazonPayments.Widgets.Wallet({
        sellerId: '{{$AZ_MERCHANT_ID}}',
        onReady: function(billingAgreement) {

            var billingAgreementId = billingAgreement.getAmazonBillingAgreementId();

            //$("#order_id").val(billingAgreementId);

            $.post( base_url+"/update/billingAgreementId", { 
                billingAgreementId: billingAgreementId
            }, function( data ) {
                if(data.status=='SUCCESS') {
                    load_consent(billingAgreementId);
                    set_billing();
                }
                else {
                    alert('เกิดความผิดพลาด กรุณาทำรายการใหม่อีกครั้ง');
                }
            }, "json");

        },
        agreementType: 'BillingAgreement',
        design: {
            designMode: 'responsive'
        },
        onPaymentSelect: function(billingAgreement) {
            // Replace this code with the action that you want to perform
            // after the payment method is selected.
            // alert('Select - Payment');
        },
        onError: function(error) {
            window.location = base_url+'/message/session_expired';
        }
    }).bind("walletWidgetDiv");

    function load_consent(id) {

        new OffAmazonPayments.Widgets.Consent({
          sellerId: '{{$AZ_MERCHANT_ID}}',
          // amazonBillingAgreementId obtained from the Amazon Address Book widget. 
          amazonBillingAgreementId: id, 
          design: {
            designMode: 'responsive'
          },
          onReady: function(billingAgreementConsentStatus){
            // Called after widget renders
            buyerBillingAgreementConsentStatus =
              billingAgreementConsentStatus.getConsentStatus();
            // getConsentStatus returns true or false
            // true - checkbox is selected
            // false - checkbox is unselected - default
          },
          onConsent: function(billingAgreementConsentStatus) {
            buyerBillingAgreementConsentStatus =
              billingAgreementConsentStatus.getConsentStatus();
            // getConsentStatus returns true or false
            // true - checkbox is selected - buyer has consented
            // false - checkbox is unselected - buyer has not consented

            // Replace this code with the action that you want to perform
            // after the consent checkbox is selected/unselected.
           },
          onError: function(error) {
            window.location = base_url+'/message/session_expired';
           }
        }).bind("consentWidgetDiv");  

    }

    function set_billing() {

        $.post( base_url+"/payment.php", { 
            action: "set_billing"
        }, function( data ) {
            if(data.status==1) {
                $("#payment_confirm").removeAttr('disabled');
            }
            else {
                alert('เกิดความผิดพลาด กรุณาทำรายการใหม่อีกครั้ง');
                location.reload();
            }
        }, "json");

    }

    $(document).ready(function(){

        $("#payment_confirm").click(function() {

            $("#payment_confirm").attr('disabled','disabled');

            $.post( base_url+"/payment.php", { 
                action: "pay_billing"
            }, function( data ) {
                if(data.status==0) {
                    alert('เกิดความผิดพลาด กรุณาทำรายการใหม่อีกครั้ง');
                    location.reload();
                }
                else {
                    window.location = data.url;
                }
            }, "json");

        });

    });
    
</script>

</body>