<html>
<head></head>
  
  <body>
  
  
    <div style="text-align: center;">

        <h2>Amazon Pay</h2>
        
        <div>{{$message}}</div>
        <br><br>
        <hr>
        <br><br>

        {{if $cbt && $url_cancel_return}}
        <button onclick="window.location='{{$url_cancel_return}}';">{{$cbt}}</button>
        {{/if}}

    </div>
  
  </body>
</html>