<html>
<head>
<script type='text/javascript'>
  window.onAmazonLoginReady = function() {
    amazon.Login.setClientId('{{$AZ_CLIENT_ID}}');
  };
  window.onAmazonPaymentsReady = function() {
    showButton();
  };
</script>
<script async='async' src='{{$AZ_URL_WIDGETS}}'></script>
</head>
  
<body>
  
  
<div style="text-align: center;">

    <h2>Amazon Pay</h2>

    <hr>

    <h3>เลขอ้างอิง : {{$data.order_invoice}}</h3>

    <table border="1" align="center">
      <tr>
        <th style="text-align: center;">หมายเลขสินค้า</th>
        <th style="text-align: left;">ชื่อสินค้า</th>
        <th style="text-align: center;">ปริมาณ</th>
        <th style="text-align: right;">ราคาสินค้า</th>
        <th style="text-align: right;">จำนวนเงิน</th>
      </tr>
      {{section name=index loop=$item_total step=1}}
      <tr>
        <td style="text-align: center;">{{$item[index].item_number}}</td>
        <td style="text-align: left;">{{$item[index].item_name}}</td>
        <td style="text-align: center;">{{$item[index].quantity}}</td>
        <td style="text-align: right;">{{$item[index].amount_show}}</td>
        <td style="text-align: right;">{{$item[index].total_show}}</td>
      </tr>
      {{/section}}
      {{if $data.shipping > 0}}
      <tr>
        <td style="text-align: center;">&nbsp;</td>
        <td style="text-align: right;" colspan="3">ค่าจัดส่ง</td>
        <td style="text-align: right;">{{$data.shipping_show}}</td>
      </tr>
      {{/if}}
      <tr>
        <td style="text-align: center;">&nbsp;</td>
        <td style="text-align: right;" colspan="3"><b>ราคารวม</b></td>
        <td style="text-align: right;"><b>{{$data.amount_show}}</b></td>
      </tr>
    </table>
    <br><br>

    <hr>
    
    <br><br>
    <div id="AmazonPayButton"></div>
    <br><br>

    <hr>
    <br><br>
    <button id="Logout" style="font-size:20px;">Amazon Logout</button>

</div>
  
<script type="text/javascript">

  function showButton() {
      var authRequest;
      OffAmazonPayments.Button("AmazonPayButton", "{{$AZ_MERCHANT_ID}}", {
          type: "PwA",
          color: "Gold",
          size: "large",
          language: "en-UK",
          authorization: function() {
              loginOptions = {
                  scope: "profile postal_code payments:widget payments:shipping_address",
                  popup: true
              };
              authRequest = amazon.Login.authorize(loginOptions, "{{$AZ_URL_CALLBACK}}");
          },
          onError: function(error) {
              // your error handling code.
              // alert("The following error occurred: " 
              //        + error.getErrorCode() 
              //        + ' - ' + error.getErrorMessage());
          }
      });
  };

</script>

<script type="text/javascript">
   document.getElementById('Logout').onclick = function() {
     alert('Amazon Logout');
     amazon.Login.logout();
   };
</script>
  
</body>
</html>