
// color
$color01 : #004ea1;
$color02 : #eaad03;


$base_font_size :14px;
$base_line_height :1.8;

$device_width : 768px;
$device_width02 : 390px;



// 縦書き/横書き
@mixin writing-mode($bool) {
  @if $bool == true {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }
  @elseif $bool == false {
    -webkit-writing-mode:horizontal-tb ;
    -ms-writing-mode: horizontal-tb;
    writing-mode: lr-tb;
  }
}
