@charset "UTF-8";
@import "settings";

$inner_width : 1180px;
$inner_width02 : 100%;

/* ************************************************************************************************
   font
　************************************************************************************************ */
@font-face {
  font-family: "Avenir-b";

  src: url("../font/Avenir-Black.eot");
  src: url("../font/Avenir-Black.eot?iefix") format("eot"), url("../font/Avenir-Black.woff") format("woff"), url("../font/Avenir-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'icomoon';
  src:  url('../font//icomoon.eot?62iosn');
  src:  url('../font//icomoon.eot?62iosn#iefix') format('embedded-opentype'),
    url('../font//icomoon.ttf?62iosn') format('truetype'),
    url('../font//icomoon.woff?62iosn') format('woff'),
    url('../font//icomoon.svg?62iosn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* ************************************************************************************************
   Base
   ************************************************************************************************ */
*, *::before, *::after {
  box-sizing: border-box;
}

html { width: 100%; }
html,body { 
  font-size: 15px; 
  font-family: 'Montserrat', sans-serif; 
  margin: 0; padding: 0; 
  width: 100%; 
  color: #333333; 
  background: #fefefe; 
  line-height: 1.4; 
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; 
  font-weight:500; 

  vertical-align: baseline;
  overflow-x: hidden; 
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight:500
}
article, aside, main, section, header, footer, menu, nav, details, figure, figcaption, img { display: block; }
ol, ul {list-style: none;}
a { color: inherit; outline: none; text-decoration: none; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
a:focus { outline: none; }
button { text-decoration:none; border:none; padding: 0;}
iframe { vertical-align: bottom; }
img, svg{ vertical-align: middle;
}
a{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  font-family: 'Montserrat', sans-serif; 
}
button, input, label, select, textarea {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  font-family: 'Roboto Condensed', sans-serif; 
}

/* ----- *::selection ----- */ 
*::-moz-selection {background: #111;color:#fefefe;}
*::selection { background: #111; color: #fefefe; }

/* ----- h1,h2,h3,h4,h5 -----
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  text-align: center;
  line-height: $base_line_height;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
*/ 

/* ----- .cf ----- */ 
.cf:before,
.cf:after { content: ""; display: block; overflow: hidden; }
.cf:after { clear: both; }
/* ----- .transition03 ----- */ 
.transition03 { -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
.transition05 { -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
/* ----- img----- */ 
img { width: 100%; height:auto;}
/* ----- a ----- */ 
a { color: inherit; outline: none; text-decoration: none; font-weight: inherit;font-size: inherit;line-height: inherit;cursor: pointer; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; -webkit-tap-highlight-color: rgba(0,0,0,0); }
a:focus,
*:focus { outline: none; text-decoration: none; }
a:hover { text-decoration: none; outline: none; }
/* ----- p ----- */ 
p { margin: 0; padding: 0; font-size: $base_font_size; font-weight: 500; line-height: $base_line_height; letter-spacing: 0.5px; }
p a { }
p a:hover { color: #fefefe; }
@media only screen and (max-width: 900px) {
p { font-size: 13px; line-height: 1.58; letter-spacing: 0.2px; }
p a:hover { background: none; }
}
/* ----- table ----- */ 
table {
  font-size: $base_font_size;
  line-height: $base_line_height;
}
/* ----- form ----- */ 
select::-ms-expand{
  display: none;
}
* {
  -webkit-appearance: none;
  border-radius: 0;
}
/* ----- 不要であれば後で消す ----- */ 
body.pc .sp_view {
  display: none !important;
}

body.sp .pc_view {
  display: none !important;
}

.inner {
  max-width: $inner_width;
  /* min-width: 980px; */
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .inner {
    max-width: $inner_width02;
    padding: 0 5%;
  }
}
@media (min-width: 901px) {
  body .sp_view {
    display: none !important;
  }
}
/* ----- 不要であれば後で消す ここまで ----- */ 


/* ************************************************************************************************
   #header
   ************************************************************************************************ */
#header{
  .header-main{
    padding: 18px 0;
    height: 100px;
  }
  .header-logo{
    width: 195px;
    height: 64px;
    display: block;
    float: left;
  }
  
  /* -----header-menu ----- */ 
  .header-menu{
    float: right;
    li{
      margin: 0;
      display: inline-block;
      margin: 0 26px 0 0;
      &:last-child{
        margin-right: 0;
        position: relative;
        top: 10px;
        a{
          position: relative;
          padding: 0 23px 0 0;
          span{
            margin-right: -13px;
          }
         &:after{
          font-family: "icomoon"; 
          content: "\e905";
          position: absolute;
          right: 0;
          bottom: 1px;
          font-size: 12px;
          color: $color01;
          font-weight: 600;
          } 
        }
        span{
          display: block;
          text-align: center;
          line-height: 25px; 
          font-weight: 600;
        }
      }
      [class*="icon-"] {
        font-size: 17px;
      }
      a{
        display: table;
        font-size: 14px;
        letter-spacing: 0.5px;
      }
    }
    span{
      display: inline-block;
      vertical-align: bottom;
      line-height: 21px;
      padding-right: 4px;
    }
  }

  /* -----header-nav ----- */ 
  .header-nav{
    background: $color01;
    &:after{
      display: block;
      content: "";
      clear: both;
    }
    nav{
      float: left;
      ul{
        max-width: 1180px;
        margin: 0 auto;
        padding: 9px 0 9px 5px;
        > li{
          display: inline-block;
          margin-right: 20px;
          a{
            color: #ffffff;
            font-size: 15px;
            padding: 8px 10px;
            display: block;
            letter-spacing: 0.01em;
            position: relative;
            &:after{
              position: absolute;
              bottom: -10px;
              left: 50%;
              z-index: 10;
              margin-left: -8px;
              font-family: "icomoon";
              font-size: 10px;
              line-height: 1;
              color: rgba(255,255,255,0.85);
              content: "\e900";
              opacity: 0;
              transition: all .4s;
            }
            &:hover{
              &:after{
                opacity: 1;
              }
            }
          }
        }
      }
    } 
  }
}
/* -----select-list-block ----- */ 
.select-list-block{
  padding: 20px 15px 45px;
  background: #00385b;
  margin: 25px 0 0;
  .ttl{
    color: #ffffff;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif; 
    font-weight: 700;
    margin: 0 0 0 5px;
    letter-spacing: 1px;
  }
  .select-list{
    font-size: 0;
    padding: 10px 0px 20px 0;
    width: 100%;
    li{
      overflow: hidden;
      width: 49%;
      margin: 6px auto;
      text-align: center;
      position: relative;
      background: #0060b7;
      display: inline-block;
      border-radius: 30px;
      &:nth-child(even){
        margin-left: 2%;
      }
      &:before{
        position: absolute;
        top: 50%;
        right: 17px;
        width: 0;
        height: 0;
        padding: 0;
        margin-top: -2px;
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #ffffff;
        pointer-events: none;
      }
      span{
        display: inline-block;
        padding-right: 8px;
        position: absolute;
        color: #ffffff;
        padding-left: 18px;
      }
      form{
        display: inline-block;
        width: 100%;
      }
      select{
        width: 100%;
        padding-right: 1em;
        cursor: pointer;
        text-indent: 0.01px;
        text-overflow: ellipsis;
        font-size:14px;
        border: none;
        outline: none;
        background: transparent;
        background-image: none;
        box-shadow: none;
        -webkit-appearance: none;
        appearance: none;
        padding: 13px 35px 13px 46px;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif; 
        font-weight: 600;
        letter-spacing: 0.8px;
        text-align: center;
      }
    }
    li.maker{
      span{
        font-size: 16px;
        top: 13px;
      }

    }
    li.model{
      span{
        font-size: 14px;
        top: 14px;
      }

    }
    li.part{
      span{
        font-size: 20px;
        top: 11px;
      }

    }
    li.year{
      span{
        font-size: 18px;
        top: 12px;
      }

    }
  }
  .search-btn{
    width: 68%;
    height: 52px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    button{
      background: $color02;
      display: table-cell;
      height: 100%;
      width: 100%;
      letter-spacing: 1px;

    }
    span{
      color: #ffffff;
      font-size: 17px;
      font-weight: 600;
      position: relative;
      top: 0;
      &.ico-glass{
        position: absolute;
        right: 8%;
        top: 50%;
        font-size: 19px;
        margin-top: -9px;

      }
    }
  }
}

@media (max-width: 1200px) {
  #header{
    .header-nav{
      nav{
        ul{
          > li{
            margin-right: 5px;
            a{
              font-size: 13px;
            }
          }
        }
      }  
    }
  }
}
@media (max-width: 1000px) {
  #header{
    .header-main{
      height: 85px;
      padding: 0;
    }
    .header-nav{
      nav{
        ul{
          > li{
            margin-right: 0px;
            a{
              padding-left: 8px;
              padding-right: 8px;
            }
          }
        }
      }  
    }
  }
}
@media (min-width: 901px) {
  #hamburger,.sp-login {
    display: none;
  }

}
@media (max-width: 900px) {
  #header{
    position: relative;
    z-index: 20;
    .header-logo{
      float: none;
      margin: 0 auto;
      width: 160px;
      height: 52px;
      position: absolute;
      top: 14px;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .header-menu{
      display: none;
    }
    .header-nav{
      display: none;
      display: block;
      position: fixed;
      top: 0px;
      left: -100%;
      z-index: 10;
      width: 100%;
      height: 100vh;
      padding: 0px 0 10px;
      overflow-x: hidden;
      overflow-y: scroll;
      background: #00385b;
      -webkit-box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.15);
      transition-delay: 0s;
      z-index: 5;
      nav{
        float: none;
        ul{
          padding: 0;
          > li{
            display: block;
            &:last-child{
              a:before{
                display: none;
              }
            }
            &.lang{
              a{
                padding-left: 1.6em;
                position: relative;
              }
              span.icon-lang{
                margin: 0 14px 0 0;
                font-size: 19px;
                position: relative;
                top: 3px;
              }
              span.icon-arrow-bottom02{
                font-size: 14px;
                font-weight: 600;
                margin: 0 0 0 10px;
                position: relative;
                top: 1px;
              }
            }
            a{
              display: block;
              position: relative;
              padding: 1em 1em 1em 3.1em;
              font-size: 15px;
              &:hover{
                background: #0060b7;
              }
              &:before{
                content:'';
                position: absolute;
                border-radius: 50%;
                top: 50%;
                left: 1.8em;
                width: 5px;
                height: 5px;
                background: $color02;
                transform: translateY(-50%);
              }
              &:after{
                display: none;
              }
            }
          }
        }
      }
      .inner{
        padding: 70px 0 0;
        background: #003c68;
      }
    }
    .sp-login{
      background: $color02;
      position: fixed;
      top: 0;
      right: 0;
      width: 70px;
      height: 70px;
      color: #ffffff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      
      a{
        font-family: 'Roboto Condensed', sans-serif; 
        font-size: 16px;
        letter-spacing: 0.5px;
        font-weight: 500;
        margin-right: -2px;
      }
      span{
        display: block;
        font-size: 21px;
        padding: 4px 0 1px 0;
      }
    }
  }
  .header-search{
    display: none;
  }
}

@media (max-width: 738px) {
  #header{
    .header-logo{
      width: 144px;
      height: 47px;
    }
  }
}
/*===== hamburger =====*/
#hamburger {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50; 
  width: 70px;
  height: 70px;
  background: #003c68;
}

#hamburger-menu {
  display: block;
  width: 25px;
  height: 34px;
  margin: 0;
  text-align: center;
  cursor: pointer; 
  -webkit-transform: translateZ(0);
  position: relative;
  top: 27px;
  left: 22px;
  span[class*="icon-bar"] {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    color: #ffffff;
    background-color: #ffffff;
    border-radius: 10px;
    border-radius: 20%; 
    opacity: 1;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}
.open-menu{
  #hamburger{
    background: none;
  }
}
#hamburger-menu span:nth-of-type(1) {
  top: 0;
}
#hamburger-menu span:nth-of-type(2) {
  top: 8px;
}
#hamburger-menu span:nth-of-type(3) {
  top: 16px;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}
#hamburger-menu span.menu_txt {
  position: absolute;
  bottom: 0px;
  left: 1px;
}

.open-menu #hamburger span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.open-menu #hamburger span:nth-child(2) {
  right: -120px; 
  opacity: 0;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.open-menu #hamburger span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* ------------------------
   .head_icn
   ------------------------ */
.head_icn-signup{
  width: 23px;
  height: 24px;
}
.head_icn-login{
  width: 21px;
  height: 22px;
}
.head_icn-cart{
  width: 20px;
  height: 18px;
}
.head_icn-language{
  width: 20px;
  height: 18px;
}

/* ------------------------
   .header-search
   ------------------------ */
.header-search{
  float: right;
  margin: 9px 0 0;
  .search-button{
    height: 34px;
    padding-left: 20px;
    padding-right: 14px;
    border: 0;
    color: rgba(255,255,255,0.9);
    font-size: 12px;
    display: table-cell;

    background-color: #00385b;
    border-radius: 4px;
    height: 36px;

    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    background-color: none;
    position: relative;
    overflow: hidden;
    
  }
  .ico-glass{
    font-size: 15px;
    color: rgba(255,255,255,0.8);
    margin: 0 0 0 12px;
  }
}

/* ----- placeholder ----- */  
:placeholder-shown {
  color: rgba(255,255,255,0.8);
  letter-spacing: 0.5px;
}
::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
  letter-spacing: 0.5px;
}
:-moz-placeholder {
  color: rgba(255,255,255,0.8);
  letter-spacing: 0.5px;
  opacity: 1;
}
::-moz-placeholder {
  color: rgba(255,255,255,0.8);
  letter-spacing: 0.5px;
  opacity: 1;
}
:-ms-input-placeholder {
  color: rgba(255,255,255,0.8);
  letter-spacing: 0.5px;
}

@media (max-width: 1000px) {
  .header-search{  
    .search-button{
      padding-left: 15px;
      padding-right: 10px;
      font-size: 11px;
    }
    .ico-glass{
      font-size: 13px;
    }
  }
}
  

/* ----- sf-menu ----- */   
/* .brandArea */
/* brandArea ul */
/* ------------------------
   .navSubArea
   ------------------------ */

/* ************************************************************************************************
   #headerSp
   ************************************************************************************************ */ 
/* ------------------------
   .logoArea
   ------------------------ */  

/* -----------------------------------------------------------
   jQuery.mmenu CSS
   ----------------------------------------------------------- */

/* ************************************************************************************************
   #footer
   ************************************************************************************************ */
#footer{
  background: url(../img/bg_polygon03.png) repeat-x center bottom;
  .footer-wrap{
    padding: 75px 0 85px;
  }
  .inner{
    &:after{
      display: block;
      content: "";
      clear: both;
    }
  }
  .footer-nav{
    float: left;
    width: 80%;
    section{
      float: left;
      width: 25%;
      &:first-child{
        width: 18%;
      }
      + section{
        padding: 0 0 0 7%;
      }
      h4{
        color: $color01;
        font-weight: 700;
        margin: 0 0 15px;
        font-size: 16px;
        letter-spacing: 0.4px;
        line-height: 1.7;
      }
      li{
        + li{
          margin: 13px 0 0;
        }
        a{
          font-size: 14px;
        }
      }
    }
  }
  .copyright{
    background: $color01;
    font-size: 12px;
    color: rgba(255,255,255,0.9);
    text-align: center;
    padding: 15px 0;
    letter-spacing: 0.5px;
  }
}
/* --- .footer-sns --- */
#footer{
  .footer-sns{
    float: right;
    width: 20%;
    li{
      margin: 0 0 20px 0;
      float: right;
      a{
        border-radius: 10px;
        padding: 0 0 0 14px;
        height: 50px;
        width: 164px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        font-size: 14px;
        position: relative;
        box-shadow:0px 0px 13px 5px #dfdfdf;
        &:after{
          display: block;
          content: "";
          width: 21px;
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          background: #fff;
          border-radius: 0px 10px 10px 0px / 0px 10px 10px 0px;
        }
        &:before{
          display: block;
          content: "";
          box-sizing: border-box;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 0 6px 4px;
          border-color: transparent transparent transparent #007bff;
          position: absolute;
          right: 6px;
          z-index: 10;
        }
        > span:first-child{
          padding-right: 8px;
          font-size: 26px;
          color: #fff;
        }
        > span:last-child{
          font-size: 13px;
          color: #fff;
          font-weight: 600;
          letter-spacing: 0.6px;
        }
      }
      &.facebook{
        a{
          background: #263c7f;
          padding-left: 21px;
          span:first-child{
            padding-right: 15px;
          }
          &:before{
            border-left: 7px solid #263c7f;
          }
        }
      }
      &.line{
        a{
          background: #3acb01;
          span:first-child{
            padding-right: 18px;
          }
          &:before{
            border-left: 7px solid #3acb01;
          }
        }
      }
      &.wechat{
        a{
          background: #2dc000;
          span:first-child{
            padding-right: 12px;
          }
          &:before{
            border-left: 7px solid #2dc000;
          }
        }
      }
      &.whatsapp{
        a{
          background: #00ac00;
          &:before{
            border-left: 7px solid #00ac00;
          }
        }
      }
    }
  }
}
/* ************************************************************************************************
   #footerSP
   ************************************************************************************************ */
@media (max-width: 1000px) {
  #footer{
  .footer-nav{
    width: 75%;
      section{
        &:first-child{
          width: 13%;
        }
        + section{
          padding: 0 0 0 12%;
        }
        h4{
          font-size: 15px;
        }
        li{
          a{
            font-size: 13px;
          }
        }
      }
    }
  .footer-sns{
    width: 25%;
    }
  }
}
@media (max-width: 850px) {
  #footer{
    .footer-wrap{
      padding: 65px 0 35px;
    }
    .footer-nav{
      width: 100%;
    }
    .footer-sns{
      width: 100%;
      margin: 60px 0 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      li{
        float: left;
        margin: 0 14px 20px 0;
        a{
          width: 48px;
          height: 48px;
          border-radius: 50%;
          position: relative;
          padding: 0 !important;
          text-align: center;
          box-shadow: 0px 0px 2px 2px #dfdfdf;
          &:before,&:after{
            display: none;
          }
          > span{
            position: relative;
            display: block;
            width: 48px;
            height: 48px;
            padding: 0 !important;
            &:first-child:before{
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              font-size: 20px;
              line-height: 48px;
            }
            &:last-child{
              display: none;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 630px) {
  #footer{
    .footer-wrap{
      padding: 50px 0 30px;
    }
    .footer-nav{
      font-size: 0;
      section{
        width: 50% !important;
        float: none;
        vertical-align: top;
        display: inline-block;
        margin: 0 0 45px 0;
        + section{
          padding: 0;
        }
      }
    }
    .footer-sns{
      margin: 30px 0 0;
    }
  }
}

/* -----------------------------------------------------------
   .linkArea ←ボタンっぽい
   ----------------------------------------------------------- */
.btn{
  font-family: 'Montserrat', sans-serif; 
  font-weight: 600;
}
.btn-seemore{
  display: inline-block;
  padding: 8px 50px;
  line-height: 1;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 1px;
  border: 1px;
  background: $color02;
  line-height: 1.88;
}   
.btn-seeall{
  display: inline-block;
  padding: 6px 50px;
  line-height: 1;
  color: #ffffff;
  font-size: 16px;
  border-radius: 30px;
  letter-spacing: 1px;
  border: 1px;
  background: $color01;
  line-height: 1.88;
}

/* -----------------------------------------------------------
   #headline
   ----------------------------------------------------------- */
/* -----------------------------------------------------------
  .central
   ----------------------------------------------------------- */
/* -----------------------------------------------------------
   #breadcrumb
   ----------------------------------------------------------- */

/* -----------------------------------------------------------
   #content&.outline
   ----------------------------------------------------------- */
   
#content { 
  background: url(../img/bg_polygon01.png) repeat-x center top;
}
.outline{
  background: #f3f3f3;
  padding: 0 0 100px;
}
@media only screen and (max-width: 900px) {
  .outline{
    padding: 0 0 50px;
  }
}
@media only screen and (max-width: 738px) {
#content { }
}     


/* ------------------------
   h1＆h2＆h3 .title
   ------------------------ */  
.headline{
  margin: 0 0 40px;
  .title{
    margin: 0 auto; 
    font-size: 40px; 
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    line-height:1.3; 
    text-align:center;
    color: $color01;
  }
  h1,h2{
    margin: 22px auto 0;
    letter-spacing: 0.01em;
    color: #5d5d5d;
    letter-spacing: 0.4px;
  }
  h1{
    text-align: center;
    font-size: 16px;
    margin: 10px auto 0;
  }
  h2{
    font-size: 16px;
  }
}
.brand-list{
  .headline{
    margin: 0 0 55px;
  }
}
.products-lineup{
  .headline{
    .title{
      text-align: left;
    }
  }
}
.select-films{
  .headline{
    margin: 0 0 60px;
    h2{
      text-align: center;
    }
  }
}
.news-content{
  .headline{
    h2{
      text-align: center;
    }
  }
}

@media (max-width: 900px) {
  .headline{
    margin: 0 0 50px;
    h1,h2{
      font-size: 15px;
      margin: 13px 0 0;
      line-height: 1.66;
    }
    .title{
      font-size: 31px;
    }
  }
  .brand-list{
    padding: 90px 0 50px;
    .headline{
      margin: 0 0 35px;
    }
  }
  .select-films{
    .headline{
      margin: 0 0 50px;
    }
  }
}
@media (max-width: 738px) {
  .headline{
    margin: 0 0 35px;
    .title{
      font-size: 28px;
      letter-spacing: 0.9px;
    }
  }
  .select-films{
    .headline{
     margin: 0 0 35px;
    }
  }
  .brand-list{
    padding: 75px 0 40px;
  }
}

/* ----------------------------------------------------------   
   #scrollUp
   ---------------------------------------------------------- */
/* ----------------------------------------------------------   
   .slick-slider
   ---------------------------------------------------------- */
.slick-list,
.slick-slider,
.slick-track {
    position: relative;
    display: block
}
.slick-loading .slick-slide,
.slick-loading .slick-track {
    visibility: hidden
}
.slick-slider {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}
.slick-list {
    /* overflow: hidden; */
    margin: 0;
    padding: 0
}
.slick-list:focus {
    outline: 0
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}
.slick-slider .slick-list,
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.slick-track {
    top: 0;
    left: 0
}
.slick-track:after,
.slick-track:before {
    display: table;
    content: ''
}
.slick-track:after {
    clear: both
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}
[dir=rtl] .slick-slide {
    float: right
}
.slick-slide img {
    display: block
}
.slick-slide.slick-loading img {
    display: none
}
.slick-slide.dragging img {
    pointer-events: none
}
.slick-initialized .slick-slide {
    display: block
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}
/* Dots */
.slick-dotted.slick-slider {}
.slick-dots {
  position: absolute;
  bottom: -35px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  li {
    position: relative;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
    button {
      background: transparent;
      display: block;
      height: 4px;
      width: 4px;
      border: 1px solid $color01;
      border-radius: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 4px;
      cursor: pointer;
      &:hover, &:focus {
        outline: none;
      }
  }
  &.slick-active button{
    opacity: .75;
    background: #f9bd00;
    border: 1px solid #f9bd00;
    }
  }
}

/* ----------------------------------------------------------   
   iconmoons
   ---------------------------------------------------------- */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-top01:before {
  content: "\e900";
}
.icon-lang:before {
  content: "\e901";
}
.icon-lock:before {
  content: "\e902";
}
.icon-cart02:before {
  content: "\e903";
}
.icon-person:before {
  content: "\e904";
}
.icon-arrow-bottom02:before {
  content: "\e905";
}
.icon-search02:before {
  content: "\e906";
}
.icon-maker:before {
  content: "\e907";
}
.icon-model:before {
  content: "\e908";
}
.icon-year:before {
  content: "\e909";
}
.icon-part:before {
  content: "\e90a";
}
.icon-mail:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\e90c";
}
.icon-line:before {
  content: "\e90d";
}
.icon-wechat:before {
  content: "\e90f";
}
.icon-whats-app:before {
  content: "\e910";
}
.icon-arrow-right:before {
  content: "\e911";
}
.icon-cart01:before {
  content: "\e912";
}
.icon-search01:before {
  content: "\e913";
}
.icon-around:before {
  content: "\e914";
}
.icon-prev:before {
  content: "\e915";
}
.icon-next:before {
  content: "\e916";
}
.icon-arrow-bottom01:before {
  content: "\e917";
}
