/**
 * @version		$Id: template_rtl.css 19247 2010-10-28 15:02:59Z infograf768 $
 * @package		Joomla.Administrator
 * @subpackage	templates.bluestork
 * @copyright	Copyright (C) 2005 - 2010 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

/* -- GENERAL STYLES RTL ------------------------------ */

body{
	direction: rtl;
}

#border-top.h_green div div{
	background-image: url(../images/j_header_left_rtl.png);
}

#border-top.h_green div{
	background-image: url(../images/j_header_right_rtl.png);
}

.button1 { background: url(../images/j_button1_right.png) 100% 0 no-repeat; margin-left: 5px; padding-right: 10px; white-space: nowrap; padding-left: 0px; }
.button1 .next { background: url(../images/j_button1_prev.png) no-repeat; }
.button1 a { padding: 0 6px 0 30px; }

.button1,
.button1 div{
	float: left;
}

.button2-left a, .button2-left span {
	padding:0pt 6px 0pt 24px;
}

.button2-left {
	background:transparent url(../images/j_button2_right.png) no-repeat scroll 100%;
	float: right;
}

.button2-left .end{
	background:	transparent url(../images/j_button2_first.png) no-repeat scroll 0% 0;
}

.button2-left.off .end{
	background:	transparent url(../images/j_button2_first_off.png) no-repeat scroll 0% 0;
}

.button2-left .next{
	background:	transparent url(../images/j_button2_prev.png) no-repeat scroll 0% 0;
}

.button2-left.off .next{
	background:	transparent url(../images/j_button2_prev_off.png) no-repeat scroll 0% 0;
}

.button2-left .page,
.button2-left .blank {
	background: url(../images/j_button2_left_cap.png) 0 no-repeat;
}

.button2-right a, .button2-right span {
	padding:0pt 24px 0pt 6px;
}

.button2-left .image {
	background:transparent url(../images/j_button2_image_rtl.png) no-repeat scroll 0% 0pt;
}

.button2-left .pagebreak {
	background:transparent url(../images/j_button2_pagebreak_rtl.png) no-repeat scroll 0% 0pt;
}

.button2-left .readmore {
	background:transparent url(../images/j_button2_readmore_rtl.png) no-repeat scroll 0% 0pt;
}

.button2-right {
	background:transparent url(../images/j_button2_left.png) no-repeat scroll 0% 0pt;
	float: right;
}

.button2-right .prev {
	background:transparent url(../images/j_button2_next.png) no-repeat scroll 100%;
}

.button2-right.off .prev {
	background:transparent url(../images/j_button2_next_off.png) no-repeat scroll 100%;
}

.button2-right .start {
	background:transparent url(../images/j_button2_last.png) no-repeat scroll 100%;
}

.button2-right.off .start {
	background:transparent url(../images/j_button2_last_off.png) no-repeat scroll 100%;
}


#border-top .version{
	float: left;
	padding: 25px 0 0 5px;
}

#border-top .title{ 
	padding-right: 10px;
	padding-left: 10px;
	float: right;
}

#module-status {
	float:left;
}

#module-status span {
	padding: 4px 22px 0 10px;
}

#module-status .legacy-mode 		  { background-position: right 5px; }
#module-status .preview 			  { background-position: right 3px; }
#module-status .unread-messages,
#module-status .no-unread-messages { background-position: right 3px; }
#module-status .loggedin-users     { background-position: right 3px; }
#module-status .logout             { background-position: right 3px; }
#module-status .viewsite 		  { background-position: right 5px; }

fieldset.filter {border: 0; padding: 0; margin:0 0 10px;}
div.left { float: right; }
div.right { float: left; }

table.adminform td{
	text-align: right;
}

#cpanel div.icon{
	margin-right: 0px;
	margin-left: 5px;
}

.jpane-toggler span,
.jpane-toggler-down span {
	background-position: right;
	padding-right: 20px;
	padding-left: 0px;
}

.jpane-toggler span{ background-image: url(../images/j_arrow_left.png); }

div.toolbar {
	float:left;
	padding:0pt;
	text-align:left;
}

div.header {
	margin-right:10px;
	margin-left:0px;
	padding-right:55px;
	padding-left:0px;
}

.header{ background-position: right; }

table.adminlist tbody tr{
	text-align: right;
}

table.adminform th{
	text-align: right;
	padding: 6px 4px 4px 2px;
}

fieldset {
	text-align:right;
}

table.adminform td.filter{
	text-align: right;
}

table.adminform td.helpMenu{
	text-align: left;
}

table.adminlist .pagination{
	display: -moz-box;
}

.pagination div.limit{
	float: right;
	margin: 0 0 0 10px;
}

.button2-left .page a, .button2-right .page a, .button2-left .page span, .button2-right .page span, .button2-left .blank a, .button2-right .blank a, .button2-left .blank span, .button2-right .blank span{
	float: right;
}

div.col{
	float: right;
}

#system-message dd.message ul {
	background-position: 99% center;
}

#system-message dd {
	text-indent:35px;
}

/* debug */
#system-debug ol,
#system-debug ul{
	direction: ltr;
}



/* -- LOGIN STYLES ----------------------------- */

#section-box{
	float: left;
	margin-left: 0px;
	margin-right: 10px;
}

#form-login label{  
float:right;
	text-align: right;
}

#form-login div.button_holder{
 	padding-left: 0px;
}

form .inputbox {
	margin-left:0px;
	margin-right:10px;
}



/* ---- MENU STYLES RTL ------------------- */

/* common styling */
#menu li {
	border-right:1px solid #FFFFFF;
	border-left:1px solid #D8D8D8;
	float: right;
}

#menu li:hover li:hover ul { left: auto; right: 100%; }

#menu a, #menu div{
	background-position: right;
}

#menu ul{
	background-position:right;
}

#menu ul li.node {
	background:transparent url(../images/j_arrow_left.png) no-repeat scroll left 50%;
}

#menu li ul { left: auto; right: 0%}


#menu ul a {
	padding-right:25px;
	padding-left:20px;
}

#submenu li {
	float:right;
}

#submenu li a,
#submenu span.nolink {
	border-right:none;
	border-left:1px solid #CCCCCC;
	display: -moz-inline-box;
}


#form-login .button-holder {
	float: left;
	padding-left: 5px;
	clear:left;
}
input#mod-login-username,
input#mod-login-password,
select#lang {
	float:left;
	margin: 0 20px 0 0;
	clear:left;
}
fieldset label {
	float: right;
	clear: right;
}
div.cpanel-left {
	width: 54%;
	float: right;
}
div.cpanel-right {
	width: 45%;
	float: left;
}
#cpanel div.icon {
	float: right;
}
div.pagetitle {
	padding-right: 60px;
	background-position:right;
	margin-right: 10px;
}
div.toolbar-list {
	float: left;
}
div.toolbar-list li {
	float: right;
}
td.left,th.left {
	text-align: right;
}
fieldset input,
fieldset textarea,
fieldset select,
fieldset img,
fieldset button {
	float: right;
	text-align:right;
}

#jform_id {
	float:right;
}

li#jform_menutype_label,
li#jform_parentid_label,
li#jform_published_label,
li#jform_access_label {
	float: right;
	clear: right;
}

fieldset.adminform fieldset.radio,
fieldset.panelform fieldset.radio,
fieldset.adminform-legacy fieldset.radio {
	border: 0;
	float: right;
	padding: 0;
	margin: 0 5px 5px 0;
	clear: left;
}

fieldset.adminform fieldset.radio label,
fieldset.panelform fieldset.radio label {
	float: right;
}

fieldset.panelform-legacy label,
fieldset.adminform-legacy label {
	float: right;
}
dl.tabs {
	float: right;
}

dl.tabs dt {
	float: right;
}
td.col1 {
	text-align: right;
}
.clrlft		{clear: right;}
.clrrt		{clear: left;}
.fltlft		{float: right;}
.fltrt		{float: left;}
.fltnone	{float: none;}

#user-groups li {
float:right; text-align:right;
}

/* -------- Batch Section ---------- */
fieldset.batch {
	margin: 20px 10px 0px 0px;
}

fieldset#batch-choose-action {
	clear: right;
}
fieldset.batch label {
	float: right;
}
fieldset label#batch-choose-action-lbl {
	clear: right;
}
select#batch-menu-id {
	margin-left: 30px;
	margin-right: 0px;
}
label#batch-access-lbl {
	margin-left: 10px;
	margin-right: 0px;
}

/* CSS Rules Permission Angie with changes for RTL */

#permissions-sliders ul#rules,
#permissions-sliders ul#rules ul
{  
    margin:0 0 0 0px !important;
    padding:0 0 0 0px !important;
}

#permissions-sliders ul#rules li
{
	margin:0px 0 0 0%;
	/*padding:0 0 0 1%;*/
	padding:0;
}

#permissions-sliders ul#rules .jpane-slider
{
    padding:0px;
    top:0px;
	right: 40%;
    left: 0;
}

#permissions-sliders ul#rules li h3.jpane-toggler-down a
{	
	border:solid 0px;
}

#permissions-sliders ul#rules table.group-rules caption
{
	padding:5px; 
	text-align:right;
}

#permissions-sliders ul#rules table.group-rules td
{
    padding:4px;
    vertical-align:middle; 
    text-align:right;
}

#permissions-sliders .panel 
{
    margin-bottom: 3px;
    margin-left: 60.5%;
    border:0;
    margin-right:0; 
}

ul#rules table.group-rules td label
{
	margin:0 !important;
}

table.group-rules td select
{
	margin:0 !important;
}
	
#permissions-sliders ul#rules .mypanel
{
	padding:0px; 
}

#permissions-sliders ul#rules 
{	
	padding:5px;
}

#permissions-sliders  ul#rules  table.group-rules th
{
    text-align:right;
    padding:4px;
}

#permissions-sliders .jpane-toggler span
{
	/* padding-left:5px; */
	padding-right: 5px;
}

#permissions-sliders .jpane-toggler-down span
{
	/* padding-left:5px */
	padding-right: 5px;
}

div.current #permissions-sliders select {
float:right;
margin:3px 2px 0 2px;
}

#permissions-sliders ul#rules .panel h3
{
	background:#f5f5f5 url(../images/j_arrow_left.png) center left no-repeat
}

/* Additional RTL fixes for forms */

div.current label {
	float: right;
	clear: none;
	clear: right;
	margin-top: 8px;
}

div.current fieldset.radio {
	float: right;
}

div.current fieldset.radio input {
	float: right;
	margin: 3px 2px 0 0;
}

div.current fieldset.radio label {
	float: right;
	margin: 3px 5px 0 0;
}

div.current input,
div.current textarea,
div.current select {
	float: right;
	margin: 3px 2px 0 0;
}

.mod-desc { 
	margin-right: 135px !important; 
	float: none !important;
}

div#menu-assignment {
	clear:right;
}

 div#menu-assignment ul.menu-links {
	float: right;
} 

div#menu-assignment h3 {
	clear:right;
}

div#menu-assignment ul.menu-links li.menu-link label {
	float: right;
	margin: 3px 2px 0 0;
}
div#menu-assignment ul.menu-links li.menu-link input {
	clear: right;
	float: right;
}

/**
* Mod_rewrite Warning
*/
#jform_sef_rewrite-lbl {
	background: url(../images/admin/icon-16-notice-note.png) left top no-repeat;
}
